<div class="overview-left" [ngClass]="{'col-xs-9 col-md-9': !isEditing, 'col-xs-3 col-md-3': isEditing}">
	<lazy-loading-table 
		[isCollapsed]="isEditing" 
		(onAdd)="addRoom()"
		(onCopy)="copyRoom($event)"
		(onDelete)="deleteRoom($event)"
		(onSelect)="selectRoom($event)"
		(onEdit)="editRoom($event)"
        >
	</lazy-loading-table>
</div>
<div class="col-xs-3 col-md-3 overview-right" *ngIf="!isEditing">
	<room-overview
		*ngIf="selectedRoomVM" 
		[roomVM]="selectedRoomVM"
		(onEdit)="editRoom($event)">
	</room-overview>
	<wizard-steps-component></wizard-steps-component>
</div>
<div class="col-xs-9 col-md-9 edit-container" *ngIf="isEditing">
	<room-edit
		*ngIf="selectedRoomVM" 
		[roomVM]="selectedRoomVM"
		(onExit)="showViewScreen()">
	</room-edit>
</div>