<div class="overview-left" [ngClass]="{'col-sm-9': !isEditing, 'col-sm-3': isEditing}">
	<lazy-loading-table 
		[isCollapsed]="isEditing" 
		(onAdd)="addRoom()"
		(onCopy)="copyRoom($event)"
		(onDelete)="deleteRoom($event)"
		(onSelect)="selectRoom($event)"
		(onEdit)="editRoom($event)"
        >
	</lazy-loading-table>
</div>
<div class="col-sm-3 overview-right hidden-xs hidden-sm" *ngIf="!isEditing">
	<room-overview
		*ngIf="selectedRoomVM" 
		[roomVM]="selectedRoomVM"
		(onEdit)="editRoom($event)">
	</room-overview>
</div>
<div class="col-sm-9 singleview-right" *ngIf="isEditing">
	<room-edit
		*ngIf="selectedRoomVM" 
		[roomVM]="selectedRoomVM"
		(onExit)="showViewScreen()">
	</room-edit>
</div>