<div class="overview-left" [ngClass]="{'col-xs-9 col-md-9': !isEditing, 'col-xs-3 col-md-3': isEditing}">
	<lazy-loading-table 
		[isCollapsed]="isEditing" 
		(onAdd)="addRoom()"
		(onCopy)="copyRoom($event)"
		(onDelete)="deleteRoom($event)"
		(onSelect)="selectRoom($event)"
		(onEdit)="editRoom($event)">
	</lazy-loading-table>
</div>
<div [ngClass]="{'col-xs-3 overview-right': !isEditing, 'col-xs-9 edit-container': isEditing}">
	<room-overview
		*ngIf="selectedRoomVM && !isEditing" 
		[showLinkToOperationalModal]="showLinkToOperationalModal"
		[roomVM]="selectedRoomVM"
		(onCopy)="copyRoom($event)"
		(onDelete)="deleteRoom($event)"
		(onEdit)="editRoom($event)">
	</room-overview>
	<room-edit
		*ngIf="selectedRoomVM && isEditing" 
		[roomVM]="selectedRoomVM"
		(onExit)="showViewScreen()">
	</room-edit>
	<div #overviewBottom>
	</div>
</div>