<div class="key-metrics-table flex-table p-12 full-height" *ngIf="metricsResults">
	<div class="key-metrics-row table-header flex-row">
		<div class="key-metrics-col wide" >
			<span class="dark-gray-color oneline-text f-14">{{'Key Metrics' | translate}}</span>
		</div>
		<div class="key-metrics-col" *ngFor="let date of metricsResults.currentItemVM.dateList">
			<span class="dark-gray-color oneline-text f-14" title="{{getDateLabel(date)}}">{{getDateLabel(date)}}</span>
		</div>
	</div>
	<div customScroll class="table-body">
		<div class="key-metrics-row flex-row" *ngFor="let metric of metricsResults.currentItemVM.metricVMList">
			<div class="key-metrics-col flex-jc-start wide">
				<span class="clickable" (click)="openKeyMetricModal(metric)">
					<span class="unitpal-font dark-gray-color f-14">{{metric.meta.fontName}}</span> 
					<span class="dark-gray-color f-14" title="{{ metric.keyMetricDO.displayName }}">{{ metric.keyMetricDO.displayName }}</span>
				</span>
			</div>
			<div class="key-metrics-col" *ngFor="let value of metric.keyMetricDO.valueList">
				<span class="w-100" *ngIf="metric.keyMetricDO.valueType == 0">
					<span class="key-metric-value oneline-text f-14 w-100" title="{{ value.price }}">{{ value.price }}</span> 
				</span>
				<span class="w-100" *ngIf="metric.keyMetricDO.valueType == 1">
					<span class="percentage-metric key-metric-value oneline-text f-14" [ngStyle]="getPercentageStyles(normalizeAndReversPercentage(value.percentage))" title="{{ value.percentage }}%">{{ value.percentage | percentage }}</span> 
				</span>
				<span class="w-100" *ngIf="metric.keyMetricDO.valueType == 2">
					<span class="key-metric-value oneline-text f-14 w-100" [ngStyle]="getInventoryStyles(value)" title="{{ 'Available / Total' | translate }}">
						<span [ngStyle]="getInventoryAvailableStyles(value)">{{ value.total - value.available }}</span>/{{ value.total }}
					</span>
				</span>
			</div>
		</div>
	</div>
</div>