<html>
<header>
    <title>This is title</title>
</header>

<body>
    <!--<div style="page-break-after:always;">-->
    <div style="page-break-after:always;">
        <h1>Invoice - Page 1</h1>

        <% if (user) { %>
            <h2><%= user.email %></h2>
            <% } %>

    </div>

    <div>
        <h1>Invoice - Page 2</h1>
    </div>

</body>

</html>