<loading-component [isLoading]="isLoading"></loading-component>
<div *ngIf="!isLoading" [formGroup]="getDefaultFormGroup()" class="edit-form-container" customScroll>
    <div class="edit-form">
        <div class="row">
            <div class="col-xs-12 col-md-6 form-group">
                <label>{{ 'Name' | translate }}*</label>
                <div class="input-group" [ngClass]="{'form-warning': controlIsInvalid('name')}">
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <label class="form-warning"><small><i class="fa fa-info-circle"></i> {{ 'Enter a name for the bed' | translate }}</small></label>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-xs-12 form-group">
                <label>{{ 'Type:' | translate }}</label>
                <div class="input-group">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-default" (click)="toggleStorageType()" [ngClass]="{'active': isStationary}">
				{{ 'Stationary' | translate }}
			</button>
                        <button class="btn btn-default" (click)="toggleStorageType()" [ngClass]="{'active': !isStationary}">
				{{ 'Rollaway' | translate }}
			</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 form-group">
                <label>{{ 'Bed accomodates:' | translate }}</label>
                <div class="input-group">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-default" (click)="toggleAccommodationType()" [ngClass]="{'active': !accommodatesBabies}" [disabled]="!isNewBed()">
				{{ 'Adults / Children' | translate }}
			</button>
                        <button class="btn btn-default" (click)="toggleAccommodationType()" [ngClass]="{'active': accommodatesBabies}" [disabled]="!isNewBed()">
				{{ 'Babies' | translate }}
			</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 form-group">
                <label class="control-label">{{ 'Icon' | translate }}</label>
                <div class="row" data-toggle="buttons">
                    <div class="col-md-2 button-items" *ngFor="let bedTemplate of displayedBedTemplates" title="{{ bedTemplate.name }}">
                        <label class="btn btn-default btn-group bed-btn" [ngClass]="{ active: bedTemplate.id == bedVM.bed.bedTemplateId }" (click)="bedVM.bed.bedTemplateId=bedTemplate.id">
                        <span class="unitpal-font">{{bedTemplate.iconUrl}}</span>
                    </label>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div *ngIf="!accommodatesBabies" class="row">
            <div class="col-xs-12 col-md-6 form-group">
                <label>{{ 'Capacity' | translate }}*</label>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="input-group" [ngClass]="{'form-warning': controlIsInvalid('maxAdults')}">
                            <span class="input-group-addon"><span class="unitpal-font">:</span></span>
                            <input type="number" class="form-control" placeholder="{{ 'Adults' | translate }}" formControlName="maxAdults" [disabled]="!isNewBed()">
                        </div>
                        <label class="form-warning"><small><i class="fa fa-info-circle"></i> {{ 'Insert a valid max number of adults' | translate }}</small></label>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="input-group" [ngClass]="{'form-warning': controlIsInvalid('maxChildren')}">
                            <span class="input-group-addon"><span class="unitpal-font">;</span></span>
                            <input type="number" class="form-control" placeholder="{{ 'Children' | translate }}" formControlName="maxChildren" [disabled]="!isNewBed()">
                        </div>
                        <label class="form-warning"><small><i class="fa fa-info-circle"></i> {{ 'Insert a valid max number of children' | translate }}</small></label>
                    </div>
                </div>
                <label class="text-muted">
                    <small><i class="fa fa-info-circle"></i> {{ 'Each adult is replaceable with a child. Possible configurations:' | translate }} 
                        <span *ngFor="let configuration of possibleConfigurations; let i = index">{{'Max Adults:' | translate}} {{configuration.maxNoAdults}} {{'Max Children:' | translate}} {{configuration.maxNoChildren}}
                            <span *ngIf="i < possibleConfigurations.length - 1"> {{'OR' | translate}} </span>
                        </span>
                    </small>
                </label>
            </div>
            <div class="col-xs-12 col-md-6 form-group">
                <label>{{ 'Dimensions' | translate }}*</label>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group" [ngClass]="{'form-warning': controlIsInvalid('width')}">
                            <span class="input-group-addon"><i class="fa fa-arrows-h"></i></span>
                            <input type="number" class="form-control" placeholder="{{ 'Width' | translate }}" formControlName="width">
                        </div>
                        <label class="form-warning"><small><i class="fa fa-info-circle"></i> {{ 'Insert a valid bed width' | translate }}</small></label>
                    </div>

                    <div class="col-xs-6">
                        <div class="input-group" [ngClass]="{'form-warning': controlIsInvalid('length')}">
                            <span class="input-group-addon"><i class="fa fa-arrows-v"></i></span>
                            <input type="number" class="form-control" placeholder="{{ 'Length' | translate }}" formControlName="length">
                        </div>
                        <label class="form-warning"><small><i class="fa fa-info-circle"></i> {{ 'Insert a valid bed length' | translate }}</small></label>
                    </div>
                </div>

                <label class="text-muted"><small><i class="fa fa-info-circle"></i> {{ 'Dimensions are expressed in cm' | translate }}</small></label>
            </div>
        </div>

        <hr *ngIf="!accommodatesBabies" />

        <div class="row">
            <div class="col-xs-12 col-md-6 form-group">
                <label>{{ 'Notes' | translate }}</label>
                <textarea class="form-control" formControlName="notes"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-offset-6 col-md-3">
                <button type="button" class="btn btn-primary btn-block" *ngIf="!isNewBed()" (click)="saveBed()">
                <i *ngIf="isSavingBed" class="fa fa-spinner fa-pulse"></i> {{ 'Save Changes' | translate }}
            </button>
                <button type="button" class="btn btn-primary btn-block" *ngIf="isNewBed()" (click)="saveBed()">
                <i *ngIf="isSavingBed" class="fa fa-spinner fa-pulse"></i> {{ 'Add Bed' | translate }}
            </button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button type="button" class="btn btn-danger btn-block" (click)="showViewScreen()">{{ 'Cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>