<div class="invoice-details-container full-height" customScroll>
    <div class="col-xs-12 invoice-details-header">
        <span class="first-line" title="{{'Invoice Reference' | translate}}">{{ invoiceVM.invoice.reference }}</span>
    </div>
    <div class="col-xs-12 invoice-details-row">
        <i class="fa unitpal-font" title="{{'Status' | translate}}">+</i> {{ invoiceVM.invoiceMeta.displayName }}
    </div>
    <div class="col-xs-12 invoice-details-row">
        <i class="fa fa-calendar" title="{{ 'Paid At' | translate }}"></i> {{ invoiceVM.paidTimestamp | thtimestamp }}
    </div>
    <div class="col-xs-12 invoice-details-row">
        <i class="fa unitpal-font" title="{{ 'Payer List' | translate }}">D</i> {{ invoiceVM.payerListString }}
    </div>
    <div class="col-xs-12 invoice-details-table">
        <table class="table form-group">
            <thead>
                <tr>
                    <th width="40%"> {{ 'Item Name' | translate }} </th>
                    <th width="20%"> {{ 'Qty' | translate }} </th>
                    <th width="20%"> {{ 'Unit Cost' | translate }} </th>
                    <th width="20%"> {{ 'Total' | translate }} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemVm of invoiceVM.invoiceItemVms" >
                    <td width="45%" title="{{ itemVm.subtitle }}">
                        <i *ngIf="itemVm.isRelatedToBooking" class="unitpal-font">%</i> {{ getInvoiceItemDisplayName(itemVm) }}
                    </td>
                    <td width="15%">{{ itemVm.numberOfItems }}</td>
                    <td width="20%">{{ ccySymbol }}{{ itemVm.unitPrice }}</td>
                    <td width="20%">{{ ccySymbol }}{{ itemVm.totalPrice }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-3">
		<a class="btn btn-lg" (click)="editInvoice()">
			<i class="fa fa-pencil"></i> {{ 'Edit' | translate }}
		</a>
    </div>
</div>
