<div class="row row m-l-16 m-b-24">{{ 'Fill your Booking.com hotel configuration data.' | translate }}</div>
<loading-component [isLoading]="isLoading"></loading-component>
<form *ngIf="!isLoading" [formGroup]="getDefaultFormGroup()" class="integration-form col-xs-8 col-md-8">
    <div class="row">
        <div class="col-xs-12 col-md-6 form-group">
            <label>{{ 'Hotel ID' | translate }}</label>
            <div class="input-group" [ngClass]="{'form-warning': controlIsInvalid('hotelId')}">
                <input type="text" class="form-control" formControlName="hotelId" />
            </div>
            <label class="form-warning"><small><i class="fa fa-info-circle"></i> {{ 'Enter the hotel ID provided by Booking.com' | translate }}</small></label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-9 col-md-3 col-md-offset-9">
            <button type="button" class="btn btn-primary btn-block" (click)="saveHotelConfiguration()">
                <i *ngIf="isSaving" class="fa fa-spinner fa-pulse"></i> {{ 'Save Changes' | translate }}
            </button>
        </div>
    </div>
</form>