<div class="col-md-4 col-xs-12 form-group" [formGroup]="getDefaultFormGroup()">
	<label>{{ 'Price Product Name' | translate }}*</label>
	<div class="input-group" [ngClass]="{'form-warning': controlIsInvalid('name')}">
		<input type="text" class="form-control input-group-lg" formControlName="name" [readonly]="readonly">
	</div>
	<label class="form-warning"><small><i class="fa fa-info-circle"></i> {{ 'Enter a name for the product' | translate }}</small></label>
</div>
<div class="col-md-4 col-xs-12 form-group">
	<label>{{ 'Availability' | translate }}</label>
	<div class="input-group">
		<div class="btn-group" data-toggle="buttons">
			<button class="btn btn-default" (click)="isPublicAvailability=true" [ngClass]="{'active': isPublicAvailability}" [disabled]="readonly">
				<i class="fa fa-users"></i> {{ 'Public' | translate }}
			</button>
			<button class="btn btn-default" (click)="isPublicAvailability=false" [ngClass]="{'active': !isPublicAvailability}" [disabled]="readonly">
				<i class="fa fa-user"></i> {{ 'Confidential' | translate }}
			</button>
		</div>
	</div>
	<small class="text-muted"><i class="fa fa-info-circle"></i>  {{ 'Public is available to anyone. Confidential is only available to selected customers.' | translate }}</small>
</div>
<div class="col-md-4 col-xs-12 form-group">
	<label for="roomname">{{ 'Last Room Availability' | translate }}</label>
	<div class="input-group">
		<div class="btn-group" data-toggle="buttons">
			<button class="btn btn-default" (click)="isLastRoomAvailabilityEnabled=true" [ngClass]="{'active': isLastRoomAvailabilityEnabled}" [disabled]="readonly">
				{{ 'On' | translate }}
			</button>
			<button class="btn btn-default" (click)="isLastRoomAvailabilityEnabled=false" [ngClass]="{'active': !isLastRoomAvailabilityEnabled}" [disabled]="readonly">
				{{ 'Off' | translate }}
			</button>
		</div>
	</div>
	<small class="text-muted"><i class="fa fa-info-circle"></i> {{ 'If marked Yes, this Price Product will always be available, regardless of the Yield Manager as long as there are rooms left in the Room Category' | translate }} </small>
</div>