<div class="col-xs-12 col-sm-12" *ngIf="hasRoom">
    <div class="row">
        <div class="col-xs-12 padding-top-5px">
            <button type="button" class="btn btn-danger btn-block" (click)="viewRoom()"> 
                <i class="fa unitpal-font">@</i> 
                <span class="oneline-text">{{ 'View' | translate }}
                    <small>
                        {{ bookingOperationsPageData.roomVM.room.name }}
                    </small>
                </span>
			</button>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12" *ngIf="hasInvoice">
    <div class="row">
        <div class="col-xs-12 padding-top-5px">
            <button type="button" class="btn btn-primary btn-block" (click)="viewInvoice()"> 
                <i class="fa unitpal-font">L</i> 
                <span class="oneline-text">
                    {{ 'Invoice' | translate }}
                    <small *ngIf="invoiceIsPaid">
                        ({{ 'Paid' | translate }})
                    </small>
                    <small *ngIf="!invoiceIsPaid">
                        {{ 'Unpaid' | translate }}
                    </small>
                </span>
			</button>
        </div>
    </div>
</div>