<div class="row">
    <div class="col-xs-12" *ngFor="let customerId of customerIdList">
        <div class="row">
            <div class="col-xs-10">
                <p class="bold-text">{{ getNameForCustomer(customerId) }}</p>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-xs bold-text" (click)="removeCustomer(customerId)" title="{{ 'Remove' | translate }}">
                        <i class="fa unitpal-font">\</i> {{ 'Remove' | translate }}
                    </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12" *ngIf="canAddMoreCustomers()">
        <a class="btn btn-xs p-t-6" (click)="openCustomerSelectModal()">
				<i class="fa unitpal-font">'</i> {{ 'Add Customer' | translate }}
			</a>
    </div>
    
</div>