<loading-component [isLoading]="isLoading && !didInitOnce"></loading-component>

<div class="full-height" *ngIf="didInitOnce">
	<div class="invoice-container">
		<span class="horizontal-align-center" *ngIf="noEditableInvoicesExist" class="full-width"> 
			<div>
				{{ 'Only unpaid invoices are editable. No unpaid invoices exist in this invoice group.' | translate }}
			</div> 
		</span>
		<invoice-edit *ngFor="let displayedInvoiceIndex of displayedInvoiceIndexList" 
			[invoiceUniqueId]="getInvoiceUniqueIdentifier(displayedInvoiceIndex)" 
			(newlyAddedInvoiceRemoved)="newlyAddedInvoiceRemoved($event)"
			(creditInvoiceAdded)="creditInvoiceAdded($event)">
		</invoice-edit>

	</div>
	<div class="invoice-operations-footer">

		<item-list-navigator 
			(displayedItemsUpdated)="displayedItemsUpdated($event)" 
			[config]="itemListNavigatorConfig"
			[reset]="resetItemNavigator" 
			[itemsAdded]="itemsAddedObservable" 
			[itemRemoved]="itemRemovedObservable"
			[selectItemTriggered]="selectItemObservable">
		</item-list-navigator>

		<div *ngIf="editMode" class="invoice-operations-btn-group">
			<th-button [upFont]="'\''" [text]="'Add Invoice'" (onButtonClick)="onAddInvoice()"></th-button>
			<button class="btn btn-primary" type="button" (click)="onSave()"> {{ 'Save Changes' | translate }}</button>
			<button class="btn btn-danger" type="button" (click)="onCancel()"> {{ 'Cancel' | translate }}</button>
		</div>

		<div *ngIf="payOnlyModeWithEditOption" class="invoice-operations-btn-group">
			<button class="btn btn-danger" type="button" (click)="onEdit()"> {{ 'Edit' | translate }}</button>
		</div>

	</div>
</div>