<loading-component [isLoading]="isLoading"></loading-component>

<div class="full-height" *ngIf="!isLoading">
	<div class="full-height" *ngIf="shouldShowCurrentInvoice()">
		<invoice-overview
			[relatedInvoices]="relatedInvoices"
    		[currentRelatedInvoiceIndex]="currentRelatedInvoiceIndex"
            [invoiceOperationsPageData]="pageData"
            [paginationOptions]="paginationOptions"
			(showRelatedInvoicesClicked)="showRelatedInvoices()"
			(showInvoiceTransferClicked)="showInvoiceTransfer()"
			(currentInvoiceChanged)="currentRelatedInvoiceIndex = $event"
			(invoiceChanged)="markInvoiceChanged($event)"
			(invoiceDeleted)="onInvoiceDeleted($event)"
		>
		</invoice-overview>
	</div>
	<div class="full-height" *ngIf="shouldShowRelatedInvoices()">
		<related-invoices
			[relatedInvoices]="relatedInvoices"
            [invoiceOperationsPageData]="pageData"
            [paginationOptions]="paginationOptions"
			(backToInvoiceOverviewClicked)="showInvoiceOverview()"
			(relatedInvoiceIndexSelected)="selectRelatedInvoiceIndex($event)"
		>
		</related-invoices>
	</div>
	<div class="full-height" *ngIf="shouldShowInvoiceTransfer()">
		<invoice-transfer
			[relatedInvoices]="relatedInvoices"
    		[currentRelatedInvoiceIndex]="currentRelatedInvoiceIndex"
			[invoiceOperationsPageData]="pageData"
			(backToInvoiceOverviewClicked)="showInvoiceOverview()"
		>
		</invoice-transfer>
	</div>
</div>
