<div class="header">
	<div class="pane-title p-t-6">
		<div class="unitpal-font f-12 f-32 clickable" (click)="previousDay()">&lt;</div>
		<div class="flex-row">
			<span class="unitpal-font green-color p-r-12 f-32">.</span>
			<div>
				<div class="f-12">Departures</div>
				<div *ngIf="selectedDate" class="current-date f-16"><b>{{getDateShortString()}}</b></div>			
			</div>
		</div>
		<div class="unitpal-font f-12 p-r-12 f-32 clickable" (click)="nextDay()">&gt;</div>
	</div>

	<div class="pane-search-bar">
		<input class="remove-auto-border" type="text" placeholder="Search here" [ngModel]="searchText" (ngModelChange)="searchTextChangeHandler($event)" name="departuresSearchText">
		<i class="fa fa-search gray-color p-l-6"></i>
	</div>

</div>
<div customScroll class="body">
	<departure-item
		*ngFor="let departureItemVM of filteredDeparturesVMList"
		[ngClass]="{'selected': isDepartureItemSelected(departureItemVM)}" 
		[departureItemVM] = "departureItemVM" 
		(click) = "selectDepartureItem(departureItemVM)">
	</departure-item>
</div>