<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100%; margin-bottom:5px; text-align:center;">
	<div *ngIf="isLoading" style="top: 50%;transform: translate(0, -50%);position: relative;"><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
	<div *ngIf="!imageUrl && !isLoading" style="top: 50%;transform: translate(0, -50%);position: relative;"><i class="fa fa-picture-o fa-5x"></i></div>
	<img *ngIf="imageUrl && !isLoading" [src]="imageUrl" />
</div>
<div class="row">
	<div class="col-md-6 col-xs-6">
		<label class="btn btn-danger btn-block fileinput-exists" data-dismiss="fileinput" (click)="removeImageUrl()">{{ 'Remove' | translate }}</label>
	</div>
	<div class="col-md-6 col-xs-6">
		<label class="btn btn-primary btn-block">
			<input type="file" accept="image/*" (change)="didSelectFile($event)"/>{{ 'Upload' | translate }}
		</label>
	</div>
</div>