<div class="left p-6">
	<i class="fa fa-ellipsis-v"></i>
	<i class="fa fa-ellipsis-v"></i>
</div>
<div class="right p-6">
	<div class="header clickable">
		{{arrivalItemVM.ClientName}}
	</div>
	<div class="body">
		<div class="room-type">Double Room</div>
		<div class="booking-quick-details">
			<div class="period">
				<div class="start-date">Fri 5.02.16</div>
				<i class="fa fa-arrow-right"></i>
				<div class="end-date">Sat 12.02.16</div>
			</div>
			<div class="other-details gray-color">
				<span class="unitpal-font">:</span> {{arrivalItemVM.NumberOfPeople}}
				<span class="unitpal-font">A</span> {{arrivalItemVM.NumberOfNights}}
			</div>
		</div>
	</div>
	<div class="footer">
		<button class="btn btn-sm btn-danger">
			CHECK IN <span class="unitpal-font">F</span>
		</button>
	</div>
</div>
