<div class="modal-header text-center">
	<button type="button" class="close" (click)="closeDialog()">&times;</button>
	<h4 *ngIf="!allowCategoryEdit" class="modal-title">{{ 'Select Room Categories' | translate }}</h4>
	<h4 *ngIf="allowCategoryEdit" class="modal-title">{{ 'Select Or Add New Room Category' | translate }}</h4>
</div>
<div class="modal-body" #scrollableContent>
	<loading-component [isLoading]="isLoading"></loading-component>
	<table class="table" *ngIf="!isLoading">
		<thead>
			<th></th>
			<th *ngIf="allowCategoryEdit"></th>
		</thead>
		<tbody>
			<tr *ngFor="let roomCategoryVM of roomCategoryVMList" [ngClass]="{active: isCategorySelected(roomCategoryVM)}">
				<td class="selectable-row" *ngIf="!roomCategoryVM.isEditing" (click)="selectRoomCategory(roomCategoryVM)">
					{{roomCategoryVM.roomCategory.displayName}}
				</td>
				<td *ngIf="roomCategoryVM.isEditing">
					<input type="text" class="form-control" [(ngModel)]="roomCategoryVM.roomCategory.displayName" name="roomCategDisplayName" (keyup.enter)="saveRoomCategory(roomCategoryVM)"
					/>
				</td>

				<td *ngIf="roomCategoryVM.bedsConfigured" class="selectable-row room-categ-capacity" (click)="selectRoomCategory(roomCategoryVM)">
					<span *ngIf="roomCategoryVM.capacity.totalCapacity.noAdults>0">{{roomCategoryVM.capacity.totalCapacity.noAdults}}<span class="unitpal-font">:</span></span> 
					<span *ngIf="roomCategoryVM.capacity.totalCapacity.noChildren>0">{{roomCategoryVM.capacity.totalCapacity.noChildren}}<span class="unitpal-font">;</span> </span>
					<span *ngIf="roomCategoryVM.capacity.totalCapacity.noBabies>0">{{roomCategoryVM.capacity.totalCapacity.noBabies}}<span class="unitpal-font">B</span></span>
				</td>
				
				<td *ngIf="!roomCategoryVM.bedsConfigured" class="selectable-row room-categ-capacity not-configured" (click)="selectRoomCategory(roomCategoryVM)">
					{{ 'Beds Not Configured' | translate }}
				</td>
				
				<td class="selectable-row operations" *ngIf="allowCategoryEdit" (click)="selectRoomCategory(roomCategoryVM)">
					<a class="btn btn-xs" *ngIf="!roomCategoryVM.isEditing && !roomCategoryVM.isSaving" (click)="editRoomCategory(roomCategoryVM)">
						<i class="fa unitpal-font">]</i> {{'Edit' | translate}}
					</a>
					<a class="btn btn-xs" *ngIf="roomCategoryVM.isEditing && !roomCategoryVM.isSaving" (click)="saveRoomCategory(roomCategoryVM)">
						<i class="fa fa-save"></i> {{'Save' | translate}}
					</a>
					<a class="btn btn-xs" *ngIf="roomCategoryVM.isSaving">
						<i class="fa fa-spinner fa-pulse"></i> {{'Saving' | translate}}
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<th-button class="pull-left" *ngIf="allowCategoryEdit" [upFont]="'\''" [text]="'Add'" (onButtonClick)="addRoomCategory()"></th-button>
	
	<button type="button" class="btn btn-primary" [disabled]="!didSelectCategory()" (click)="triggerSelectedCategory()">
		{{ 'Select' | translate }}
	</button>
</div>