<label>{{ 'Add On Products' | translate }}</label>
<table class="table table-striped form-group" *ngIf="didInitialize()">
	<tbody class="input-group">
		<tr *ngFor="#addOnProduct of addOnProductList">
			<td>{{addOnProduct.name}}</td>
			<td>{{ccy.nativeSymbol}} {{addOnProduct.price | price}}</td>
			<td *ngIf="!readonly">
				<a class="btn btn-xs" (click)="removeAddOnProduct(addOnProduct)">
					<i class="fa unitpal-font">\</i> {{ 'Remove' | translate }}
				</a>
			</td>
		</tr>
		<tr>
			<td  *ngIf="!readonly">
				<a class="btn btn-xs" (click)="openAddOnProductSelectModal()"><i class="fa fa-plus"></i> {{ 'Add' | translate }} </a>
			</td>
			<td></td>
		</tr>
	</tbody>
	<small class="text-muted"><i class="fa fa-info-circle"></i> {{ 'You can include Add On Products in the Price Product. The prices will include the Add On Product Prices.' | translate }}</small>
</table>