<!DOCTYPE html>
<html lang="en">

<head>
	<base href="/">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/client/static-assets/images/favicon.ico" />

	<title>UnitPal</title>

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

	<!-- CSS -->
	<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/node_modules/animate.css/animate.min.css" rel="stylesheet">
	<link href="/node_modules/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
	<link href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet">
	<link href='/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css' rel='stylesheet'>
	<!-- Custom CSS -->
	<link href="/client/static-assets/css/custom.css" rel="stylesheet">
	<link href="/client/static-assets/css/unitpal.css" rel="stylesheet">

	<!-- JS Libraries -->
	<script src="/node_modules/jquery.1/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Angular JS Deps -->
	<script src="/node_modules/es6-shim/es6-shim.min.js"></script>
	<script src="/node_modules/zone.js/dist/zone.js"></script>
	<script src="/node_modules/reflect-metadata/Reflect.js"></script>
	<script src="/node_modules/systemjs/dist/system.js"></script>

	<!-- Other JS Libraries -->
	<script src="/node_modules/moment/min/moment.min.js"></script>
	<script src="/node_modules/underscore/underscore-min.js"></script>
	<script src="/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="/node_modules/pace-progress/pace.min.js"></script>
	<script src='/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js'></script>

	<%if (isDevelopmentEnvironment) {%>
		<script src="/client/systemjs.external.config.js"></script>
		<script>
			System.import('external').catch(function(err){ console.error(err); });
		</script>
	<%}%>

</head>

<body>
	<main-layout-external></main-layout-external>
	
	<%if (!isDevelopmentEnvironment) {%>
		<script src="/client/build/unitpal-external.min.js"></script>
	<%}%>
	
</body>

</html>