<table class="table table-invoice-payer">
    <tbody>
        <tr class="row-actions">
            <td width="50%" class="customer-container">
                <i class="fa fa-2x unitpal-font">(</i> <b>Customer</b>
            </td>
            <td width="50%" class="print-container">Print & Send <i class="fa fa-print" aria-hidden="true"></i></td>
        </tr>
    </tbody>
</table>
<table class="table table-invoice-payer">
    <tbody>
        <tr class="row-payment">
            <td width="30%"></td>
            <td width="20%" class="amount-paid-container">
                <div class="input-group">
                    <span class="input-group-addon"><span>€</span></span>
                    <input class="form-control" type="number">
                </div>
            </td>
            <td width="15%" class="amount-paid-container">
                <span>of <b>€ 2000</b></span>
            </td>
            <td width="30%" class="payment-method-container">
                <div class="input-group">
                    <select class="form-control">
                        <option value="0: Object">Cash</option>
                        <option value="1: Object">Visa</option>
                        <option value="2: Object">American Express</option>
                        <option value="3: Object">Euro/Mastercard</option>
                        <option value="4: Object">Diners Club</option>
                        <option value="5: Object">JCB</option>
                        <option value="6: Object">Maestro</option>
                        <option value="7: Object">Discover</option>
                    </select>
                </div>
            </td>
        </tr>
    </tbody>
</table>