<div class="col-xs-6">
    <span class="clickable-item padding-bottom-10px" *ngIf="hasAttachedRoom" (click)="goToRoom()">
        <span class="unitpal-font unitpal-large">@</span> 
        <p>{{ roomVM.room.name }}</p>
    </span>
    <p *ngIf="!hasAttachedRoom" class="padding-top-10px no-margin">{{'No Room' | translate}}</p>
</div>
<div class="col-xs-6">
    <span class="pull-right edit-save-button-group-container padding-top-5px">
        <span>
            <button type="button" class="btn btn-danger btn-block btn-xs uppercase" *ngIf="hasEditRight" (click)="assignRoom()">
                <i class="fa unitpal-font">]</i> {{ buttonText | translate }}
            </button>
        </span>
    </span>
</div>