<div class="row card-header">
	<div class="col-xs-4 col-md-4">
		<h1>{{ 'Allotments' | translate }} &gt; 
				<small *ngIf="!isEditScreen">{{ 'Overview' | translate }}</small>
				<small *ngIf="isEditScreen">{{ 'Edit' | translate }}</small>
			</h1>
	</div>
	<div class="col-xs-6 col-md-6 description">
		<small>{{ '[Wizard Step 7] Allotments text' | translate }}</small>
	</div>
	<div class="col-xs-2 col-md-2 text-right">
		<h1>{{ _allotmentsStateService.totalNoOfAllotments }} <span class="unitpal-font">{{ _allotmentsStateService.getMeta().iconFontName }}</span></h1>
	</div>
</div>
<allotments class="row card-body" (onScreenStateTypeChanged)="didChangeScreenStateType($event)"></allotments>