<loading-component [isLoading]="isLoading"></loading-component>
<div class="row" *ngIf="!isLoading" [ngFormModel]="getDefaultControlGroup()">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12 col-xs-12 form-group" [ngClass]="{bad: controlIsInvalid('name')}">
				<label *ngIf="isNewAddOnProduct()">{{ 'Edit Add-On Product' | translate }}</label>
				<label *ngIf="!isNewAddOnProduct()">{{ 'Create New Add-On Product' | translate }}</label>
				<input type="text" placeholder="{{ 'Add-On Product Name' | translate }}" class="form-control input-group-lg" ngControl="name">
				<label *ngIf="controlIsInvalid('name')" class="form-label"><small><i class="fa fa-info-circle"></i> {{ 'Enter a name for the add-on product' | translate }}</small></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-xs-12 form-group">
				<div class="input-group" [ngClass]="{bad: controlIsInvalid('price')}">
					<span class="input-group-addon">{{ccy.nativeSymbol}}</span>
					<input type="number" placeholder="{{ 'Add On Product Price' | translate }}" class="form-control" ngControl="price">
					<label *ngIf="controlIsInvalid('price')" class="form-label"><small><i class="fa fa-info-circle"></i> {{ 'Enter a price for the add-on product' | translate }}</small></label>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 form-group">
				<div class="input-group" [ngClass]="{bad: controlIsInvalid('internalCost')}">
					<span class="input-group-addon">{{ccy.nativeSymbol}}</span>
					<input type="number" placeholder="{{ 'Internal Cost' | translate }}" class="form-control" ngControl="internalCost">
					<label *ngIf="controlIsInvalid('internalCost')" class="form-label"><small><i class="fa fa-info-circle"></i> {{ 'Enter a valid price' | translate }}</small></label>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6 col-xs-12 form-group">
				<label for="addoncat">{{ 'Category' | translate }}</label>
				<br/>
				<div class="input-group" [ngClass]="{bad: (!didSelectCategory() && didSubmitForm)}">
					<label class="text-muted"><small><i class="fa fa-info-circle"></i> {{ 'The category of your add on product.' | translate }}</small></label>
					<select class="form-control" [ngModel]="addOnProductVM.addOnProduct.categoryId" (change)="didChangeCategoryId($event.target.value)">
						<option *ngFor="#addOnProductCategory of addOnProductCategoryList" [value]="addOnProductCategory.id">{{addOnProductCategory.name}}</option>
					</select>
					<label *ngIf="(!didSelectCategory() && didSubmitForm)" class="form-label"><small><i class="fa fa-info-circle"></i> {{ 'Select a category' | translate }}</small></label>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 form-group">
				<label for="addoncat">{{ 'VAT' | translate }}</label>
				<br/>
				<label class="text-muted"><small><i class="fa fa-info-circle"></i> {{ 'The VAT is included in the price.' | translate }}</small></label>
				<select class="form-control" [ngModel]="addOnProductVatId" (change)="didSelectTaxId($event.target.value)">
					<option [value]="noVatId">{{ 'No VAT' | translate }}</option>
					<option *ngFor="#vat of vatList" [value]="vat.id">{{vat.name}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12 form-group">
				<label for="notesproduct">{{ 'Notes' | translate }}</label>
				<textarea class="form-control" ngControl="notes"></textarea>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<label>{{ 'Add On Product Image' | translate }}</label>
		<image-upload [imageUrl]="imageUrl" (onImageUpload)="didUploadImage($event)" ></image-upload>
	</div>
	
	<div class="row">
		<div class="col-xs-8">
		</div>
		<div class="col-xs-4">
			<button type="button" class="btn btn-primary btn-block" (click)="saveAddOnProduct()">Save Changes</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
		</div>
		<div class="col-xs-4">
			<button type="button" class="btn btn-danger btn-block" (click)="showViewScreen()">Cancel</button>
		</div>
	</div>
</div>