<div customScroll class="overview-right-body" *ngIf="customerVM">
	<div>
		<kbd>{{ 'Selected' | translate }}</kbd>
	</div>
	<div>
		<h1 *ngIf="!showLinkToOperationalModal">
            {{customerVM.customerNameString}}
        </h1>
        <h1 *ngIf="showLinkToOperationalModal">
            <a (click)="openCustomerOperationsModal()">
                {{customerVM.customerNameString}}
            </a>
        </h1>
	</div>
	<div>
		<i class="fa fa-briefcase"></i> <small>{{customerVM.customer.priceProductDetails.bookingCode}}</small>
	</div>
	<div>
		<span class="unitpal-font">{{ customerVM.customerTypeFont }}</span> 
		<small>{{customerVM.customerTypeString}}</small>
	</div>
	<div>
		<i class="fa fa-home"></i> <small>{{customerVM.customerAddressString}}</small>
	</div>
	<div>
		<i class="fa fa-phone"></i> <small>{{customerVM.phoneString}}</small>
	</div>
	<div>
		<i class="fa fa-mail-reply"></i> <small>{{customerVM.emailString}}</small>
	</div>
	<div>
		<a class="btn btn-lg" (click)="editCustomer()">
			<i class="fa fa-pencil"></i> {{ 'Edit' | translate }}
		</a>
	</div>
</div>