<div class="room-card occupied" *ngIf='roomVM.isOccupied()'
	[ngClass]="{'ghost': roomVM.UI.ghost , 'highlight-for-drop': roomVM.UI.highlightForDrop}"
>
	<div class="card-header">
		<div class="section1">
			<div class="room-number clickable" (click)="openRoomModal()">{{ roomVM.name }}</div>
			<div class="room-type">{{ roomVM.categoryLabel }}</div>
		</div>
		<div class="section2 flex-row flex-jc-sb">
			<div class="customer-name clickable" (click)="openCustomerModal()">{{ roomVM.customerName }}</div>
			<div class="room-stats flex-row flex-center-v">
				<div *ngIf="maintenance" class="clickable f-18" [ngClass]="maintenance.cssClass" (click)="maintenance.clickHandler()" title="{{maintenance.title}}">
					<span class="unitpal-font">{{maintenance.icon}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="period flex-row flex-center-v">
			<div class="start-date">{{ roomVM.arrivalLabel }}</div>
			<i class="fa fa-arrow-right"></i>
			<div class="end-date">{{ roomVM.departureLabel }}</div>
		</div>
		<div class="other-details gray-color flex-row flex-center-v f-12">
			<div>
				<span class="unitpal-font f-12">(</span> {{roomVM.numberOfPeople}}
				<span class="unitpal-font f-12">Y</span> {{roomVM.numberOfNights}}
			</div>
		</div>
	</div>
</div>

<div class="room-card free" *ngIf='roomVM.isFree()'
	[ngClass]="{'ghost': roomVM.UI.ghost , 'highlight-for-drop': roomVM.UI.highlightForDrop}"
>
	<div class="card-header">
		<div class="section1">
			<div class="room-number clickable" (click)="openRoomModal()">{{ roomVM.name }}</div>
			<div class="room-type">{{ roomVM.categoryLabel }}</div>
		</div>
		<div class="section2 flex-row flex-jc-sb">
			<div class="customer-name clickable"></div>
			<div class="room-stats flex-row flex-center-v">
				<div *ngIf="maintenance" class="clickable f-18" [ngClass]="maintenance.cssClass" (click)="maintenance.clickHandler()" title="{{maintenance.title}}">
					<span class="unitpal-font">{{maintenance.icon}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="period flex-row flex-center-v">
			No booking this month
		</div>
		<div class="other-details">
		</div>
	</div>
</div>


<div class="room-card reserved" *ngIf='roomVM.isReserved()'
	[ngClass]="{'ghost': roomVM.UI.ghost , 'highlight-for-drop': roomVM.UI.highlightForDrop}"
>
	<div class="card-header">
		<div class="section1">
			<div class="room-number clickable" (click)="openRoomModal()">{{ roomVM.name }}</div>
			<div class="room-type">{{ roomVM.categoryLabel }}</div>
		</div>
		<div class="section2 flex-row flex-jc-sb">
			<div class="customer-name clickable"></div>
			<div class="room-stats flex-row flex-center-v">
				<div *ngIf="maintenance" class="clickable f-18" [ngClass]="maintenance.cssClass" (click)="maintenance.clickHandler()" title="{{maintenance.title}}">
					<span class="unitpal-font">{{maintenance.icon}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="period flex-row flex-center-v">
			Arriving Today
		</div>
		<div class="other-details">
		</div>
	</div>
</div>

<div class="room-card out-of-service" *ngIf='roomVM.isOutOfService()'
	[ngClass]="{'ghost': roomVM.UI.ghost , 'highlight-for-drop': roomVM.UI.highlightForDrop}"
>
	<div class="card-header">
		<div class="section1">
			<div class="room-number clickable" (click)="openRoomModal()">{{ roomVM.name }}</div>
			<div class="room-type">{{ roomVM.categoryLabel }}</div>
		</div>
		<div class="section2 flex-row flex-jc-sb">
			<div class="customer-name clickable"></div>
			<div class="room-stats flex-row flex-center-v">
				<div *ngIf="maintenance" class="clickable f-18" [ngClass]="maintenance.cssClass" (click)="maintenance.clickHandler()" title="{{maintenance.title}}">
					<span class="unitpal-font">{{maintenance.icon}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="period flex-row flex-center-v">
			Out of service
		</div>
		<div class="other-details">
		</div>
	</div>
</div>

