<div class="modal-header text-center">
	<button type="button" class="close" (click)="closeDialog()">&times;</button>
	<h4 class="modal-title">{{ 'Price Product Discount' | translate }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <label><small>{{ 'Discount Name' | translate }} *</small></label>
            <div class="input-group">
                <input type="text" class="form-control input-group-lg" [(ngModel)]="discount.name">
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <label><small>{{ 'Discount Percentage' | translate }} *</small></label>
            <percentage-input-number
                [didSubmitForm]="false" [readonly]="false" [isRequired]="true" [errorMessage]="''" 
                (onPercentageChanged)="discount.value = $event"
                >
            </percentage-input-number>
        </div>
    </div>

    <div class="row" *ngFor="let constraintId of constraintIdList; let i = index">
        <div class="col-xs-12"><hr></div>
        <div class="col-xs-10">
            <p class="bold-text">
                {{ 'Constraint #' | translate }}{{i + 1}}
            </p>
        </div>
        <div class="col-xs-2">
            <a class="btn btn-xs bold-text" (click)="removeConstraintAtIndex(i)"  title="{{ 'Remove' | translate }}">
                <i class="fa unitpal-font">\</i> {{ 'Remove' | translate }}
            </a>
        </div>
        <div class="col-xs-12">
            <price-product-constraint-selector
                (onConstraintChange)="discount.constraints.constraintList[constraintId] = $event">
            </price-product-constraint-selector>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <hr>
			<a class="btn btn-xs" (click)="createNewConstraint()">
				<i class="fa unitpal-font">'</i> {{ 'Add Constraint' | translate }}
			</a>
		</div>
    </div>

    <div class="row" *ngFor="let interval of discount.intervals.intervalList; let i = index">
        <div class="col-xs-12"><hr></div>
        <div class="col-xs-10">
            <p class="bold-text">
                {{ 'Interval #' | translate }}{{i + 1}}
            </p>
            <th-date-interval-picker
		        [initialThDateInterval]="interval"
		        (didSelectThDateInterval)="didSelectInterval($event, i)"
		    >
	</th-date-interval-picker>
        </div>
        <div class="col-xs-2">
            <a class="btn btn-xs bold-text" (click)="removeIntervalAtIndex(i)"  title="{{ 'Remove' | translate }}">
                <i class="fa unitpal-font">\</i> {{ 'Remove' | translate }}
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <hr>
			<a class="btn btn-xs" (click)="createNewInterval()">
				<i class="fa unitpal-font">'</i> {{ 'Add Interval' | translate }}
			</a>
		</div>
    </div>

    <div class="row">
        <div class="col-xs-12"> <hr> </div>
        <div class="col-xs-12" *ngIf="isPublic()">
            <small class="text-muted">
				<i class="fa fa-info-circle"></i> {{ 'Discounts are public by default, meaning that they will be used for all the bookings that satisfy the constraints. You can restrict this discount by selecting up to 10 customers.' | translate }} 
			</small>
        </div>
        <div class="col-xs-12">
            <customer-selector
                (onCustomerAdded)="didAddCustomer($event)"
                (onCustomerRemoved)="didRemoveCustomer($event)"
                [maxCustomers]="maxCustomers">
            </customer-selector>
        </div>
    </div>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="addDiscount()" [disabled]="!discount.isValid()">
		{{ 'Add' | translate }}
	</button>
</div>