<div class="modal-header text-center">
	<button type="button" class="close" (click)="closeDialog()">&times;</button>
	<h4 class="modal-title">{{ 'Select Price Product' | translate }}</h4>
</div>
<div class="modal-body table-selection">
		<div class="row">
		<ul class="nav nav-tabs">
			<li [ngClass]="{active : !isPublicAvailability}">
				<a (click)="isPublicAvailability=false">{{ 'Confidential' | translate }}</a>
			</li>
			<li [ngClass]="{active : isPublicAvailability}">
				<a (click)="isPublicAvailability=true">{{ 'Public' | translate }}</a>
			</li>
		</ul>
		<br/>
	</div>
	<lazy-loading-table (onMultiSelect)="didSelectPriceProductList($event)"></lazy-loading-table>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" [disabled]="!didSelectPriceProduct()" (click)="triggerSelectedPriceProduct()">
		{{ 'Select' | translate }}
	</button>
</div>