<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="row">
                <div class="col-xs-4 text-field">
                    <p>{{'Name' | translate}}</p>
                </div>
                <div class="col-xs-8 field-value text-field">
                    <p>{{roomVM.room.name}}</p>
                </div>
            </div>
        </div>
       <div class="col-xs-12 col-sm-4">
            <div class="row">
                <div class="col-xs-4 text-field">
                    <p>{{'Category' | translate}}</p>
                </div>
                <div class="col-xs-8 field-value text-field">
                    <p>{{roomVM.category.displayName}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="row">
                <div class="col-xs-4 text-field">
                    <p>{{'Capacity' | translate}}</p>
                </div>
                <div class="col-xs-8 field-value capacity">
                    <p><config-capacity [configCapacity]="roomVM.capacity"></config-capacity></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-2">
                    <p>{{'Beds' | translate}}</p>
                </div>
                <div class="col-xs-10">
                    <bed-selector [availableBedList]="bedVMList" [selectedBedList]="bedVMList" [roomCategory]="roomVM.category"></bed-selector>
                </div>
            </div>
        </div>

    </div>
</div>