<div class="col-xs-12 col-sm-1 padding-top-10px">
    {{'Period' | translate}}
</div>
<div class="col-xs-12 col-sm-8">
    <div class="row" *ngIf="readonly">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <div class="form-control operational-input-group">
                    <span class="unitpal-font unitpal-large checkin">/</span>
                    <span class="name field-value">{{startDateLongString}}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <div class="form-control operational-input-group">
                    <span class="unitpal-font unitpal-large checkout">.</span>
                    <span class="name field-value">{{endDateLongString}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!readonly && editIntervalAccess">
        <div class="col-xs-12">
            <th-date-interval-picker [minDate]="minIntervalStartDate" [restrictedInterval]="true" [showLabels]="false" [showExpandedView]="true"
                [initialThDateInterval]="bookingInterval" (didSelectThDateInterval)="didSelectBookingInterval($event)">
            </th-date-interval-picker>
        </div>
    </div>
    <div class="row" *ngIf="!readonly && editEndDateAccess">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <div class="form-control operational-input-group">
                    <span class="unitpal-font unitpal-large checkin">/</span>
                    <span class="name field-value">{{startDateLongString}}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <th-date-picker
				[initialThDate]="bookingInterval.end" [minThDate]="minIntervalEndDate" [showLabel]="false"
				(didSelectThDate)="didSelectBookingEndDate($event)"
				>
			</th-date-picker>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-3 padding-top-5px" *ngIf="!noIntervalEditAccess">
    <edit-save-button-group
        (onEditStart)="startEdit()"
        (onEditEnd)="endEdit()"
        (onSavePressed)="saveBookingPeriod()"
        [isSaving]="isSaving"
        [isEditing]="!readonly"
        >
    </edit-save-button-group>
</div>