<div class="full-height">
    <div class="invoice-items-container">
    <table class="table table-invoice-items" style="width: 100%">
        <thead>
            <tr>
                <th width="25%">
                    {{ 'Item Name'| translate }}
                </th>
                <th width="15%">
                    {{ 'Qty' | translate }}
                </th>
                <th width="20%">
                    {{ 'Unit Cost' | translate }}
                </th>
                <th width="20%">
                    {{ 'Total' | translate }}
                </th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="selectable">
                <td>1Rack_BB</td>
                <td>1</td>
                <td>Dkr 1,244</td>
                <td>Dkr 1,244</td>
                <td></td>
            </tr>
            <tr>
                <td>1Rack_BB</td>
                <td>1</td>
                <td>Dkr 1,244</td>
                <td>Dkr 1,244</td>
                <td></td>
            </tr>
            <tr class="selectable">
                <td>1Rack_BB</td>
                <td>1</td>
                <td>Dkr 1,244</td>
                <td>Dkr 1,244</td>
                <td></td>
            </tr>
            <tr>
                <td>1Rack_BB</td>
                <td>1</td>
                <td>Dkr 1,244</td>
                <td>Dkr 1,244</td>
                <td></td>
            </tr>
            <tr class="add-item">
                <td>
                    <div class="clickable">
                        <span class="fa fa-plus-circle m-r-6"></span>{{ 'Add item' | translate }}
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tbody>
    </table>
    <table class="table table-payment-items">
        <colgroup>
            <col width="25%">
            <col width="15%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
        </colgroup>
        <tr class="selectable">
            <td>Mister Brown
                <div class="payment-type">Payment by VISA</div>
            </td>
            <td></td>
            <td></td>
            <td>-Dkr 1,244</td>
            <td></td>
        </tr>
        <tfoot>
            <tr>
                <td>{{ 'TOTAL' | translate }}</td>
                <td></td>
                <td></td>
                <td>Dkr 6,522</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    </div>
    <div class="invoice-edit-footer m-t-24">
        
        <button type="button" class="btn btn-danger" (click)="onReinstateInvoice()">
            <i class="fa fa-2x unitpal-font">+</i> {{ 'Reinstate Invoice' | translate }}
        </button>

        <button type="button" class="btn btn-primary m-l-8" (click)="onPayInvoice()">
            <i class="fa fa-2x unitpal-font rotate-45">L</i> {{ 'Pay Invoice' | translate }}
        </button>
        
        <button type="button" class="btn btn-danger m-l-8" (click)="onLossByManagementInvoice()">
            <i class="fa fa-2x unitpal-font">+</i> {{ 'Loss Accepted By Management' | translate }}
        </button>

    </div>
</div>