<div class="modal-header text-center">
	<button type="button" class="close" (click)="closeDialog()">&times;</button>
	<h4 class="modal-title">{{ 'Send Email' | translate }}</h4>
</div>
<div class="modal-body">
    <div class="row full-height" customScroll>
        <div class="col-xs-12 booking-details-table">
            <table class="table form-group">
                <thead>
                    <tr>
                        <th> {{ 'Recipient' | translate }} </th>
                        <th> {{ 'Email' | translate }} </th>
                        <th> <input type="checkbox" [(ngModel)]="selectAll">  {{ 'Select All' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emailRecipient of emailRecipientList">
                        <td width="45%">{{ emailRecipient.recipientName }}</td>
                        <td width="50%" *ngIf="emailRecipient.isValid">{{ emailRecipient.email }}</td>
                        <td width="50%" *ngIf="!emailRecipient.isValid"><i>{{ 'Not configured' | translate }}</i></td>
                        <td width="5%"><input type="checkbox" [(ngModel)]="emailRecipient.selected" [disabled]="!emailRecipient.isValid"></td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="col-xs-6">
			<div class="form-group">
				<div class="input-group" [ngClass]="{'form-warning': dirtyNewEmail && !validNewEmail}">
					<input type="text" class="form-control" placeholder="{{'Insert email' | translate}}" [(ngModel)]="newEmail">
				</div>
				<label class="form-warning"><small><i class="fa fa-info-circle"></i> {{ 'Invalid email' | translate }}</small></label>
			</div>
		</div>
        <div class="col-xs-6">
            <button  type="button" class="btn btn-primary" [disabled]="!validNewEmail" (click)="addNewEmail()">
                {{ 'Add' | translate }}
            </button>
        </div>
    </div>
</div>
<div class="modal-footer">
	<button  type="button" class="btn btn-primary" [disabled]="!canSendEmails()" (click)="sendEmails()">
        <i *ngIf="isSending" class="fa fa-spinner fa-pulse"></i> 
        <i *ngIf="!isSending" class="fa fa-envelope"></i>
		{{ 'Send' | translate }}
	</button>
</div>