<div class="bed-container">
    <div *ngFor="let bedVM of selectedBedList; let bedIndex = index" class="bed-slot">
        <a *ngIf="!readonly" class="btn btn-xs bed-remove-btn" (click)="removeBed(bedIndex)">
            <i class="fa unitpal-font">\</i>
        </a>
        <div *ngIf="!bedVM.accommodatesBabies" class="bed-slot-info" [title]="bedVM.bed.name">
            <span class="bed-icon unitpal-font">{{bedVM.template.iconUrl}}</span><br/>
            <small>{{bedVM.bed.name}}</small>
            <br/> {{bedVM.capacity.noAdults}}<span class="unitpal-font">:</span> {{bedVM.capacity.noChildren}}
            <span class="unitpal-font">;</span>
        </div>

        <div *ngIf="bedVM.accommodatesBabies" class="bed-slot-info" [title]="bedVM.bed.name">
            <span class="bed-icon unitpal-font">{{bedVM.template.iconUrl}}</span><br/>
            <small>{{bedVM.bed.name}}</small>
            <br/> 1<span class="unitpal-font">B</span>
        </div>

    </div>

    <div *ngFor="let item of emptySlots" class="bed-slot available"></div>

</div>
<div class="bed-add">
    <button type="button" class="btn center-block btn-danger bed-add-btn" (click)="openBedsSelectModal()" [disabled]="maximuNumberOfBedsReached||readonly"><i class="fa fa-plus-circle"></i></button>
</div>