<div class="bed-container" [ngClass]="{'smaller-width': !readonly, 'full-width': readonly}" customScroll>
    <div *ngFor="let bedVM of selectedBedList; let bedIndex = index" class="bed-slot">
        <a *ngIf="!readonly" class="btn btn-xs bed-remove-btn" (click)="removeBed(bedIndex)">
            <i class="fa unitpal-font">\</i>
        </a>
        <div class="bed-slot-info" [title]="bedVM.bed.name">
            <span class="bed-icon unitpal-font">{{bedVM.template.iconUrl}}</span>
            <small class="bed-slot-property">{{bedVM.bed.name}}</small>
            <small class="bed-slot-property type" title='{{bedVM.bedStorageTypeString | translate}}'>
                <span *ngIf="!bedVM.accommodatesBabies">
                    <i class="fa fa-arrows-h"></i>{{ bedVM.bed.size.lengthCm }} <i class="fa fa-arrows-v">{{ bedVM.bed.size.widthCm }}</i>
                </span>
                {{ bedVM.bedStorageTypeString | translate }}
            </small>
            <small class="bed-slot-property info">
                <config-capacity [configCapacity]="bedVM.capacity"></config-capacity>
            </small>
        </div>
    </div>

    <div *ngFor="let item of emptySlots" class="bed-slot available"><div></div></div>

</div>
<div class="bed-add" *ngIf="!readonly">
    <button type="button" class="btn center-block btn-danger bed-add-btn" (click)="openBedsSelectModal()" [disabled]="maximuNumberOfBedsReached||readonly"><i class="fa fa-plus-circle"></i></button>
</div>