<div class="col-xs-8 form-group">
</div>
<div class="col-xs-4 text-right">
	<a class="signup-skip" *ngIf="canSkip()" (click)="handleSkipPressed()">
		{{ 'Skip this step' | translate }}
	</a>
	<a class="btn btn-app" role="button" *ngIf="hasPrevious()" (click)="handlePreviousPressed()">
		<i class="fa fa-arrow-left"></i> {{ 'Previous' | translate }}
	</a>
	<a class="btn btn-app" role="button" *ngIf="hasNext()" (click)="handleNextPressed()">
		<i *ngIf="isMovingNext" class="fa fa-spinner fa-pulse"></i>
		<i *ngIf="!isMovingNext" class="fa fa-arrow-right"></i> 
		{{ 'Next' | translate }}
	</a>
	<a class="btn btn-app" role="button" *ngIf="!hasNext()" (click)="handleNextPressed()">
		<i *ngIf="isMovingNext" class="fa fa-spinner fa-pulse"></i>
		<i *ngIf="!isMovingNext" class="fa fa-arrow-right"></i> 
		{{ 'Finish' | translate }}
	</a>
</div>