<div class="signup-step-05">
	<div class="row page-title">
		<div class="col-sm-4">
			<h1>{{ 'Add-On Products' | translate }} &gt; 
				<small *ngIf="!isEditScreen">{{ 'Overview' | translate }}</small>
				<small *ngIf="isEditScreen">{{ 'Edit' | translate }}</small>
			</h1>
		</div>
		<div class="col-sm-6 description">
			<small>{{ '[Wizard Step 4] Add-On Products text' | translate }}</small>
		</div>
		<div class="col-sm-2 text-right">
			<h1>{{ _addOnProductsStateService.totalNoOfAddOnProducts }} <span class="unitpal-font">{{ _addOnProductsStateService.getMeta().iconFontName }}</span></h1>
		</div>
	</div>
</div>
<div class="row x_panel">
	<add-on-products (onScreenStateTypeChanged)="didChangeScreenStateType($event)" (onItemDeleted)="didDeleteItem($event)"></add-on-products>
</div>