<div class="col-xs-12 col-sm-12 padding-top-5px" *ngIf="hasAddOnProductEditRight">
    <edit-save-button-group
        [pullRight]="true"
        [changeText]="changeBtnLabel"
        (onEditStart)="startEdit()"
        (onEditEnd)="endEdit()"
        (onSavePressed)="saveAddOnProducts()"
        [isSaving]="isSaving"
        [isEditing]="!readonly"
        >
    </edit-save-button-group>
</div>
<div class="col-xs-12 booking-details-table">
    <table class="table form-group bottom-margin">
        <tbody>
            <tr *ngFor="let addOnProductItemVM of addOnProductItemVMList" class="operational-box">
                <td width="10%"> <i class="fa unitpal-font">$</i>  </td>
                <td width="70%" class="name-field f-s-14">
                    {{addOnProductItemVM.noAdded}} x {{ addOnProductItemVM.addOnProduct.name }}
                    <small> - {{addOnProductItemVM.totalPriceString}} </small>
                </td>
                <td width="20%"> 
                    <span class="unitpal-font clickable-item" *ngIf="!readonly" (click)="removeAddOnProduct(addOnProductItemVM.addOnProduct)">\</span>
                </td>
            </tr>
            <tr *ngIf="addOnProductListIsEmpty">
                <td width="100%">
                    <small> {{'No reserved Add-On-Products' | translate}} </small>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
<div class="col-xs-12" *ngIf="!readonly">
    <a class="link-with-unitpal-font-icon" (click)="addAddOnProducts()">
        <i class="fa unitpal-font">'</i> 
        <span>{{ 'Add Add-On-Product' | translate }}</span>
    </a>
    <br/>
    <small class="text-muted"><i class="fa fa-info-circle"></i> {{ 'These will be generated as separate items on the invoice' | translate }}</small>
</div>