<div class="signup-step-05">
	<div class="row page-title">
		<div class="col-sm-4">
			<h1>{{ 'Price Products' | translate }} &gt; 
				<small *ngIf="!isEditScreen">{{ 'Overview' | translate }}</small>
				<small *ngIf="isEditScreen">{{ 'Edit' | translate }}</small>
			</h1>
		</div>
		<div class="col-sm-6 description">
			<small>{{ '[Wizard Step 5] Price Products' | translate }}</small>
		</div>
		<div class="col-sm-2 text-right">
			<h1>5 <i class="fa fa-puzzle-piece"></i></h1>
		</div>
	</div>
</div>
<div class="row x_panel">
	<price-products (onScreenStateTypeChanged)="didChangeScreenStateType($event)"></price-products>
</div>