<div>
	<div class="header" >
		<span *ngIf="departureItemVM.hasAttachedRoom" class="reserved-room clickable ellipsis-text green-color" (click)="openRoomModal()" title="{{departureItemVM.roomName}}">{{departureItemVM.roomName}}</span>
		<span class="customer-name ellipsis-text clickable" (click)="openCustomerModal()" title="{{departureItemVM.customerName}}">{{departureItemVM.customerName}}</span>
		<i *ngIf="departureItemVM.hasBooking && departureItemVM.bookingDepartureItem.bookingNotes" title="{{ departureItemVM.bookingDepartureItem.bookingNotes }}" (click)="openBookingNotesModal()" class="clickable booking-notes-icon pull-right fa fa-sticky-note-o" ></i>
	</div>
	<div class="body" >
		<span class="f-12">{{ 'Agency' | translate }}:</span>
		<span *ngIf="departureItemVM.corporateCustomerName && departureItemVM.corporateCustomerName.length > 0" class="corporate-customer-name ellipsis-text clickable" (click)="openCorporateCustomerModal()" title="{{departureItemVM.corporateCustomerName}}">{{departureItemVM.corporateCustomerName}}</span>
		<span *ngIf="!departureItemVM.corporateCustomerName ||departureItemVM.corporateCustomerName.length <= 0" class="corporate-customer-name">{{ 'N/A' | translate }}</span>
		<div *ngIf="departureItemVM.hasBooking" class="room-type ellipsis-text" title="{{departureItemVM.roomCategoryLabel}}">{{departureItemVM.roomCategoryLabel}}</div>
		<div class="booking-quick-details" >
			<div class="stats orange-color f-12">
				<div *ngIf="departureItemVM.hasInvoice">
					<span class="unitpal-font ellipsis-text clickable f-12 p-r-6" (click)="openInvoiceModal()">-</span><span>{{departureItemVM.priceString}}</span>
				</div>
			</div>
			<div class="other-details gray-color f-12" *ngIf="departureItemVM.hasBooking">
				<div>
					<span class="unitpal-font f-12" >(</span> <span>{{departureItemVM.numberOfPeople}}</span>
					<span class="unitpal-font f-12" >Y</span> <span>{{departureItemVM.numberOfNights}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="pay-dropdown">
			<button class="btn btn-sm btn-danger" (click)="openPayInvoiceDropdown()" *ngIf="departureItemVM.hasInvoice">
				<span class="unitpal-font p-r-6" >L</span> <span class="uppercase">{{ 'Pay' | translate }}</span>
			</button>

			<div [ngClass]="getPayDropdownClasses()">
				<a (click)="openInvoiceModal()">Link 1</a>
			</div>
		</div>

		<button class="btn btn-sm btn-green m-l-6" (click)="checkOut()" *ngIf="departureItemVM.canCheckOut">
			<span class="unitpal-font p-r-6" >.</span> <span class="uppercase">{{ 'Check Out' | translate }}</span>
		</button>

		<div class="flex-row flex-center-v yellow-color" *ngIf="!departureItemVM.hasInvoice && !departureItemVM.canCheckOut">
			<span class="unitpal-font f-14 p-r-6">+</span>
			<span class="f-11">{{ 'Future Booking' | translate }}</span>
		</div>
	</div>
</div>