<div customScroll class="overview-right-body" *ngIf="addOnProductVM">
	<div>
		<img class="img-responsive" [src]="imageUrl" *ngIf="imageUrl" />
	</div>
	<div>
		<kbd>{{ 'Selected' | translate }}</kbd>
	</div>
	<div>
		<h1>{{addOnProductVM.addOnProduct.name}}</h1>
	</div>
	<div>
		<small>{{addOnProductVM.ccy.nativeSymbol}} {{ addOnProductVM.addOnProduct.price | twodecimalsprice }}</small>
	</div>
	<div>
		<small>{{addOnProductVM.addOnProduct.notes}}</small>
	</div>
	<div>
		<a class="btn btn-lg p-l-0" (click)="copyAddOnProduct()">
			<i class="fa unitpal-font">[</i> {{ 'Copy' | translate }}
		</a>
		<a class="btn btn-lg p-l-0" (click)="editAddOnProduct()">
			<i class="fa unitpal-font">]</i> {{ 'Edit' | translate }}
		</a>
		<a class="btn btn-lg p-l-0" (click)="deleteAddOnProduct()">
			<i class="fa unitpal-font">\</i> {{ 'Delete' | translate }}
		</a>
	</div>
</div>