<div class="invoice-overview" *ngIf="currentInvoice">
    <div class="invoice-summary">
        <i [ngClass]="{'disabled': !paginationOptions.displayPaginator, 'clickable': paginationOptions.displayPaginator}"
            class="fa fa-angle-left cycle-related-invoices pull-left"
            (click)="moveToPreviousRelatedInvoice()">
        </i>
        <i [ngClass]="{'disabled': !paginationOptions.displayPaginator, 'clickable': paginationOptions.displayPaginator}"
            class="fa fa-angle-right cycle-related-invoices m-l-6"
            (click)="moveToNextRelatedInvoice()">
        </i>
        <i *ngIf="hasInvoiceRemoveRight()" class="fa fa-trash invoice-change-button pull-right clickable" title="{{ 'Delete this invoice' | translate }}" (click)="onDeleteInvoice()"></i>
        <i *ngIf="hasInvoiceTransferRight()" class="fa fa-exchange invoice-change-button pull-right m-r-12 clickable"
            (click)="showInvoiceTransfer()" title="{{ 'Easily transfer items from/to this invoice to others' | translate }}">
        </i>
        <i *ngIf="hasInvoiceHistory()" class="fa fa-history invoice-change-button pull-right m-r-12 clickable" title="{{ 'View invoice history' | translate }}" (click)="onViewInvoiceHistory()"></i>
        <div>
            <div class="invoice-title">
                <span *ngIf="paginationOptions.displayPaginator">
                    #{{currentRelatedInvoiceIndex + 1}} {{'of'| translate}} {{paginationOptions.totalNumberOfPages}}
                </span>
                {{ 'Invoice' | translate }} {{ currentInvoice.invoice.reference }}
                <span *ngIf="currentInvoice.invoice.isPaid()" class="invoice-status paid-invoice-status">{{ 'Paid' | translate }}</span>
                <span *ngIf="currentInvoice.invoice.isLossAcceptedByManagement()" class="invoice-status loss-accepted-by-management-invoice-status">{{ 'Loss Management' | translate }}</span>
                <span *ngIf="currentInvoice.invoice.isUnpaid()" class="invoice-status unpaid-invoice-status">{{ 'Unpaid' | translate }}</span>
                <span *ngIf="currentInvoice.invoice.isCredit()" class="invoice-status credit-invoice-status">{{ 'Credit' | translate }}</span>

                <span *ngIf="currentInvoice.invoice.isReinstatement()" class="reinstatement">{{ 'Reinstatement' | translate }}</span>
            </div>
            <div class="related-invoices clickable" (click)="showRelatedInvoices()">{{ 'Related Invoices' | translate }}</div>
        </div>
    </div>
    <invoice-edit
        [invoiceVM]="currentInvoice"
        [invoiceOperationsPageData]="invoiceOperationsPageData"
        (invoiceChanged)="emitInvoiceChanged($event)"
        (showInvoiceTransferRequested)="showInvoiceTransfer($event)"
        >
    </invoice-edit>
</div>
