<div class="col-md-6 col-sm-12">
	<div class="row">
		<div class="col-xs-12 form-group">
			<label>{{ 'Booking constraints' | translate }}</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<small class="text-muted" *ngIf="!isPricePerNumberOfPersons">
				<i class="fa fa-info-circle"></i> {{ 'Constraints which must be met when booking the Price Product' | translate }} 
			</small>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="price-product-box">
				<div class="row" *ngFor="let constraintVM of constraintContainer.constraintVMList">
					<div class="col-xs-10">
						<p>
							{{ constraintVM.displayTitle | translate }} 
							<br>
							<small class="gray-color">{{ constraintVM.displayValue }}</small>
						</p>
					</div>
					<div class="col-xs-2" *ngIf="!readonly">
						<a class="btn btn-xs bold-text" (click)="removeConstraint(constraintVM)"  title="{{ 'Remove' | translate }}">
							<i class="fa unitpal-font">\</i>
						</a>
					</div>
				</div>
				<div class="row" *ngIf="constraintContainer.isEmpty()">
					<div class="col-xs-12">
						<small class="gray-color">
							{{ 'No constraints.' | translate }}
						</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12" *ngIf="!readonly">
			<a class="btn btn-xs" (click)="openConstraintsModal()">
				<i class="fa unitpal-font">'</i> {{ 'Add' | translate }}
			</a>
		</div>
	</div>
</div>