<div class="col-md-12">
	<div class="row">
		<div class="col-xs-12 form-group">
			<label>{{ 'Constraints' | translate }}</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<small class="text-muted" *ngIf="!isPricePerNumberOfPersons">
				<i class="fa fa-info-circle"></i> {{ 'Constraints to apply the price product on bookings' | translate }} 
			</small>
		</div>
	</div>

	<table class="table table-striped projects">
		<tbody>
			<tr *ngFor="let constraintVM of constraintContainer.constraintVMList">
				<td>{{constraintVM.displayTitle | translate}}</td>
				<td>{{constraintVM.displayValue}}</td>
				<td *ngIf="!readonly">
					<a class="btn btn-xs" (click)="removeConstraint(constraintVM)">
						<i class="fa unitpal-font">\</i> {{ 'Remove' | translate }}
					</a>
				</td>
			</tr>
			<tr>
				<td *ngIf="!readonly">
					<a class="btn btn-xs" (click)="openConstraintsModal()">
						<i class="fa unitpal-font">'</i> {{ 'Add' | translate }}
					</a>
				</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>