body {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	-webkit-text-size-adjust: 100% !important;
	-ms-text-size-adjust: 100% !important;
	-webkit-font-smoothing: antialiased !important;
}

.tableContent img {
	border: 0 !important;
	display: block !important;
	outline: none !important;
}

a {
	color: #382F2E;
}

p,
h1 {
	color: #382F2E;
	margin: 0;
}

p {
	text-align: left;
	color: #999999;
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
}

a.link1 {
	color: #382F2E;
}

a.link2 {
	font-size: 16px;
	text-decoration: none;
	color: #ffffff;
}

h2 {
	text-align: left;
	color: #222222;
	font-size: 19px;
	font-weight: normal;
}

div,
p,
ul,
h1 {
	margin: 0;
}

.bgBody {
	background: #ffffff;
}

.bgItem {
	background: #ffffff;
}

.details-paragraph {
	text-align:left;
	color:#999999;
	font-size:14px;
	font-weight:normal;
	line-height:19px;	
}

.email-title {
	text-align:center;
	margin:0;
	font-family:Georgia,Time,sans-serif;
	font-size:26px;
	color:#222222;
}
.email-bottom-details {
	text-align:left;color:#CCCCCC;font-size:12px;font-weight:normal;line-height:20px;
}