<div class="col-xs-12" *ngIf="hasNoAttachedBooking()">
    <span class="first-line"><i class="fa unitpal-font" title="{{'Booking' | translate}}">8</i> {{ 'No Booking' | translate }}</span>
</div>

<div class="col-xs-12" *ngIf="!hasNoAttachedBooking()">
    <div class="row">
        <div class="col-xs-12" [ngClass]="{'reserved-booking': hasReservedBooking(), 'checked-in': hasCheckedInBooking()}">
		    <kbd>{{ bookingTypeString | translate }}</kbd>
        </div>
        <div class="col-xs-12 padding-top-5px">
            <span class="clickable-item" (click)="goToBooking(bookingDO)">
                <i class="fa unitpal-font" title="{{'Group/Individual Booking References' | translate}}">8</i> 
                 {{ 'ResNO' | translate }} {{bookingDO.reservationNumber}}
            </span> 
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <span>
                <i class="fa unitpal-font checkin" title="{{'Start Date' | translate}}">/</i> 
                {{ startDateLongString }}
            </span> 
        </div>
        <div class="col-xs-12">
            <span>
                <i class="fa unitpal-font checkout" title="{{'End Date' | translate}}">.</i> 
                {{ endDateLongString }}
            </span> 
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12 padding-top-5px">
            <span class="clickable-item" (click)="goToCustomer(customer)">
                <i class="fa unitpal-font" title="{{'Customer' | translate}}">(</i> 
                {{customer.customerName}}
            </span> 
        </div>
    </div>
    
    <div class="row" *ngIf="hasNotes">
        <hr/>
        <div class="col-xs-12 padding-top-5px">
            <p>{{'Notes' | translate}}</p>
        </div>
        <div class="col-xs-12 padding-top-5px notes">
            {{bookingDO.notes}}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12 padding-top-5px" *ngIf="hasUnpaidInvoice()">
            <button type="button" class="btn btn-danger btn-block oneline-text" (click)="viewInvoice()"> 
                <i class="fa unitpal-font">L</i> 
                {{ 'Invoice' | translate }}
                <small class="uppercase">
                    ({{ 'Unpaid' | translate }})
                </small>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 padding-top-5px" *ngIf="hasCheckedInBooking()">
            <button type="button" class="btn btn-primary btn-block oneline-text" (click)="checkOut()">
				<i *ngIf="isCheckingOut" class="fa fa-spinner fa-pulse"></i> 
                <i *ngIf="!isCheckingOut" class="fa unitpal-font">.</i> 
                {{ 'Check Out' | translate }}
			</button>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="row">
        <hr/>
        <div class="col-xs-12 padding-top-5px" *ngIf="requiresAddingRollawayBeds">
            <span class="orange-color">
                <i class="fa unitpal-font" title="{{'Rollaway beds required' | translate}}">+</i> 
                {{'Rollaway beds required to fit' | translate}}: 
                <config-capacity [configCapacity]="bookingDO.configCapacity"></config-capacity>
            </span> 
        </div>

        <div class="col-xs-12 padding-top-5px">
            <span>
                <i class="fa unitpal-font" title="{{'Rollaway bed status' | translate}}">A</i> 
                {{ rollawayBedStatusString | translate }}
            </span> 
        </div>

        <div class="col-xs-12 padding-top-5px" *ngIf="canAddRollawayBeds">
            <button type="button" class="btn btn-danger btn-block oneline-text" (click)="addRollawayBeds()">
				<i *ngIf="isUpdatingRollawayBeds" class="fa fa-spinner fa-pulse"></i> 
                <i *ngIf="!isUpdatingRollawayBeds" class="fa unitpal-font">A</i> 
                {{ 'Add Rollaway Beds' | translate }}
			</button>
        </div>

        <div class="col-xs-12 padding-top-5px" *ngIf="canRemoveRollawayBeds">
            <button type="button" class="btn btn-primary btn-block oneline-text" (click)="removeRollawayBeds()">
				<i *ngIf="isUpdatingRollawayBeds" class="fa fa-spinner fa-pulse"></i> 
                <i *ngIf="!isUpdatingRollawayBeds" class="fa unitpal-font">A</i> 
                {{ 'Remove Rollaway Beds' | translate }}
			</button>
        </div>
    </div>
</div>