<div class="header">
	<span><b>501</b></span>
	<span>{{departureItemVM.ClientName}}</span>
</div>
<div class="body">
	<div class="room-type">Double Room</div>
	<div class="booking-quick-details">
		<div class="period orange-color">
			<span class="unitpal-font p-r-6">C</span>
			<span class="unitpal-font p-r-6">D</span>
			<span class="unitpal-font p-r-6">E</span>
			<span class="unitpal-font p-r-6">F</span>

		</div>
		<div class="other-details gray-color">
			<span class="unitpal-font">:</span> {{departureItemVM.NumberOfPeople}}
			<span class="unitpal-font">A</span> {{departureItemVM.NumberOfNights}}
		</div>
	</div>
</div>
<div class="footer">
	<button class="btn btn-sm btn-green ">
		<span class="unitpal-font p-r-6">F</span> CHECK OUT 
	</button>
</div>
