<div class="header clickable">
	<span><b>501</b></span>
	<span>{{departureItemVM.ClientName}}</span>
</div>
<div class="body">
	<div class="room-type">Double Room</div>
	<div class="booking-quick-details">
		<div class="period orange-color">
			<span class="unitpal-font clickable f-12 p-r-6">-</span>
		</div>
		<div class="other-details gray-color f-12">
			<span class="unitpal-font f-12">(</span> {{departureItemVM.NumberOfPeople}}
			<span class="unitpal-font f-12">Y</span> {{departureItemVM.NumberOfNights}}
		</div>
	</div>
</div>
<div class="footer">
	<button class="btn btn-sm btn-green ">
		<span class="unitpal-font p-r-6">.</span> CHECK OUT 
	</button>
</div>