<div class="header clickable">
	<span><b>{{departureItemVM.roomName}}</b></span>
	<span>{{departureItemVM.clientName}}</span>
</div>
<div class="body">
	<div class="room-type">{{departureItemVM.roomType}}</div>
	<div class="booking-quick-details">
		<div class="period orange-color">
			<span class="unitpal-font clickable f-12 p-r-6">-</span>
		</div>
		<div class="other-details gray-color f-12">
			<span class="unitpal-font f-12">(</span> {{departureItemVM.numberOfPeople}}
			<span class="unitpal-font f-12">Y</span> {{departureItemVM.numberOfNights}}
		</div>
	</div>
</div>
<div class="footer">
	<button class="btn btn-sm btn-green ">
		<span class="unitpal-font p-r-6">.</span> CHECK OUT 
	</button>
</div>