<div customScroll class="overview-right-body">
    <div>
        <span class="unitpal-font bed-icon-overview">{{bedVM.template.iconUrl}}</span>
    </div>
    <div>
        <kbd>{{ 'Selected' | translate }}</kbd>
    </div>
    <div>
        <h1>{{ bedVM.bed.name }}</h1>
    </div>
    
    <div *ngIf="!accommodatesBabies">
        <small>Accomodates {{ bedVM.bed.capacity.maxNoAdults }} <span class="unitpal-font">:</span> 
            {{ bedVM.bed.capacity.maxNoChildren }} <span class="unitpal-font">;</span> 
            {{ bedVM.bed.capacity.maxNoBabies }} <span class="unitpal-font">B</span>
        </small>
        <br/>
        <small>Size <i class="fa fa-arrows-h"></i> {{ bedVM.bed.size.lengthCm }} <i class="fa fa-arrows-v"> {{ bedVM.bed.size.widthCm }}</i></small>
    </div>
    
    <div *ngIf="accommodatesBabies">
        <small>Accomodates 0 <span class="unitpal-font">:</span> 0 <span class="unitpal-font">;</span> 1 <span class="unitpal-font">B</span></small>
        <br/>
        <small>Size -</small>
    </div>
    
    <div>
        <small>{{ bedVM.bed.notes }}</small>
    </div>
    <div>
		<a class="btn btn-lg p-l-0" (click)="copyBed()">
			<i class="fa unitpal-font">[</i> {{ 'Copy' | translate }}
		</a>
        <a class="btn btn-lg p-l-0" (click)="editBed()">
			<i class="fa unitpal-font">]</i> {{ 'Edit' | translate }}
		</a>
        <a class="btn btn-lg p-l-0" (click)="deleteBed()">
			<i class="fa unitpal-font">\</i> {{ 'Delete' | translate }}
		</a>
	</div>
</div>