<div class="header">
	<div class="pane-title">
		<span class="f-24">Arrival</span>
		<!--<i class="fa fa-suitcase orange-color p-l-12 f-16"></i>-->
		<span class="unitpal-font orange-color p-l-12 f-24">/</span>
	</div>
	<div class="pane-search-bar">
		<input class="remove-auto-border" type="text" placeholder="Search here">
		<i class="fa fa-search gray-color p-l-6"></i>
	</div>
</div>
<div class="body">
	<arrival-item
		*ngFor="let arrivalItemVM of arrivalItemsVMList"
		[ngClass]="{'selected': isArrivalItemSelected(arrivalItemVM)}" 
		[arrivalItemVM] = "arrivalItemVM" 
		(click) = "selectArrivalItem(arrivalItemVM)"
		(startedDragging)="startedDragging($event)"
		(stoppedDragging)="stoppedDragging($event)"
		>
	</arrival-item>
</div>
<div class="footer">
	<div class="arrivals-side-pane-bottom-box">
		<th-button [upFont]="'\''" [text]="'Booking'" (onButtonClick)="openNewBookingModal()"></th-button>
	</div>
</div>