	<div class="arrivals-pane">
		<div class="header">
    		Arrivals
		</div>
		<div class="body">
			<div class="arrival-item">Robert Paulsen</div>
			<div class="arrival-item">Dorel Mihai</div>
			<div class="arrival-item">Mircea Dinu</div>
			<div class="arrival-item">Filip Cristian Buruiana</div>
			<div class="arrival-item">Paraschiv Ionut</div>
		</div>
		<div class="footer">
			<div class="arrivals-side-pane-bottom-box">
				<th-button [upFont]="'\''" [text]="'Booking'" (onButtonClick)="openNewBookingModal()"></th-button>
			</div>		
		</div>
	</div>