<a class="dropdown-toggle user-profile info-number" data-toggle="dropdown" aria-expanded="false">
	<i class="fa fa-envelope-o fa-lg dropdown-trigger-button"></i>
	<span *ngIf="numUnread > 0" class="badge bg-green">{{numUnread}}</span>
</a>
<ul class="dropdown-menu list-unstyled msg_list animated fadeInDown">
	<!-- Ng for for all the notifications -->
	<li>
		<a *ngFor="let thNotification of lastNotificationsList" (click)="openNotificationsModal(thNotification)">
			<span class="time">{{thNotification.notification.timestamp}}</span>
			<span class="message" *ngIf="thNotification.notification.read">
				{{thNotification.translatedMessage}}
			</span>
			<span class="message unread" *ngIf="!thNotification.notification.read">
				{{thNotification.translatedMessage}}
			</span>
		</a>
	</li>
	
	<!-- Next <li> only if no notifications -->
	<li *ngIf="lastNotificationsList.length == 0">
		<a>
			<span class="message">
				{{ 'No notifications' | translate }}
			</span>
		</a>
	</li>
	
	<li>
		<div class="text-center">
			<a class="btn" (click)="openNotificationsModal()">
				{{ 'See All Notifications' | translate }}
				<i class="fa unitpal-font">></i>
			</a>
		</div>
	</li>
</ul>