<loading-component [isLoading]="isLoading"></loading-component>
<div [hidden]="isLoading">
	<div class="row">
		<price-product-edit-top-section [didSubmit]="didSubmit"></price-product-edit-top-section>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<price-product-edit-room-categories-section 
				[didSubmit]="didSubmit"
				(onRoomCategoryChange)="handleRoomCategoryChange($event)">
			</price-product-edit-room-categories-section>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<price-product-edit-add-on-products-section [didSubmit]="didSubmit"></price-product-edit-add-on-products-section>
		</div>	
	</div>
	<hr>
	<div class="row">
		<price-product-edit-prices-section [didSubmit]="didSubmit"></price-product-edit-prices-section>
	</div>
	<div class="row">
		<price-product-edit-taxes-section [didSubmit]="didSubmit"></price-product-edit-taxes-section>
	</div>
	<hr>
	<div class="row">
		<price-product-edit-filters-section [didSubmit]="didSubmit"></price-product-edit-filters-section>
	</div>
	<hr>
	<div class="row">
		<price-product-edit-cancellation-section [didSubmit]="didSubmit"></price-product-edit-cancellation-section>
	</div>
	<hr>
	<div class="row">
		<price-product-edit-constraints-section [didSubmit]="didSubmit"></price-product-edit-constraints-section>
	</div>
	<hr>

	<hr>
	<div class="row">
		<div class="col-xs-8">
		</div>
		<div class="col-xs-4">
			<button type="button" class="btn btn-primary btn-block" (click)="savePriceProduct()">
				<i *ngIf="isSavingPriceProduct" class="fa fa-spinner fa-pulse"></i> {{ 'Save Changes' | translate }}
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
		</div>
		<div class="col-xs-4">
			<button type="button" class="btn btn-danger btn-block" (click)="showViewScreen()">{{ 'Cancel' | translate }}</button>
		</div>
	</div>
</div>