<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <div class="booking-details-table">
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr *ngFor="let invoicePayerStats of invoiceGroupPayerStatsList">
                            <td width="30%" class="increased-font-weight clickable-item font-size-small">
                                <span (click)="goToInvoice(invoicePayerStats)"> 
                                    {{ 'Open invoice group' | translate }} <i class="fa unitpal-font">L</i>
                                </span>
                            </td>
                            <td width="70%">
                                {{ 'Amount paid' | translate }}: <b>{{ invoicePayerStats.amountPaid | twodecimalsprice }}{{ ccySymbol }}</b> {{ 'from' | translate }}: <b>{{invoicePayerStats.totalAmountToPay | twodecimalsprice}}{{ ccySymbol }}</b> / {{ 'Invoice group payment status' | translate }}:  
                                <span *ngIf="invoicePayerStats.invoiceGroupPaid">
                                    <b>{{ 'PAID' | translate }}</b>
                                </span>
                                <span *ngIf="!invoicePayerStats.invoiceGroupPaid">  
                                    <b>{{ 'UNPAID' | translate }}</b>
                                </span> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="pull-right edit-save-button-group-container">
                <span *ngIf="canLoadMore">
                    <button type="button" class="btn btn-default btn-block btn-xs uppercase" (click)="loadMore()" *ngIf="!isLoading">
                        <i class="fa fa-info-circle"></i> {{ 'Expand' | translate }}
                    </button>
                    <i class="fa fa-spinner fa-pulse" *ngIf="isLoading"></i> 
                </span>
            </span>
        </div>
    </div>
</div>