<div class="row card-header">
	<div class="col-xs-4 col-md-4">
		<h1>{{ 'Basic Information' | translate }}
			<small>{{ 'overview' | translate }}</small>
		</h1>
	</div>

	<div class="col-xs-6 col-md-6 description">
		<small>{{ '[Wizard Step 0] Basic Information text' | translate }}</small>
	</div>

	<div class="col-xs-2 col-md-2 text-right">
		<h3 class="">1/3</h3>
	</div>
</div>

<div class="row card-body">
	<div class="col-xs-9 col-md-9 basic-info-container customScroll">
		<basic-info-overview-edit></basic-info-overview-edit>
	</div>
	<div class="col-xs-3 col-md-3 overview-right">
		<wizard-steps-component></wizard-steps-component>
	</div>
</div>