<div customScroll class="overview-right-body">
    <div>
        <img class="img-responsive" [src]="roomVM.imageUrl" *ngIf="roomVM.imageUrl" />
    </div>
    <div>
        <kbd>{{ 'Selected' | translate }}</kbd>
    </div>
    <div>
        <h1 *ngIf="!showLinkToOperationalModal">
            {{ roomVM.room.name }}
        </h1>
        <h1 *ngIf="showLinkToOperationalModal">
            <a (click)="openRoomOperationsModal()">
                {{ roomVM.room.name }}
            </a>
        </h1>
    </div>
    <div>
        <small>Accomodates {{ roomVM.capacity.noAdults }} <span class="unitpal-font">:</span> {{ roomVM.capacity.noChildren }} <span class="unitpal-font">;</span> {{ roomVM.capacity.noBabies }} <span class="unitpal-font">B</span> </small>
    </div>
    <div>
        <small>{{ roomVM.room.notes }}</small>
    </div>
    <div>
        <a class="btn btn-lg p-l-0" (click)="copyRoom()">
			<i class="fa unitpal-font">[</i> {{ 'Copy' | translate }}
		</a>
        <a class="btn btn-lg p-l-0" (click)="editRoom()">
            <i class="fa unitpal-font">]</i> {{ 'Edit' | translate }}
        </a>
        <a class="btn btn-lg p-l-0" (click)="deleteRoom()">
			<i class="fa unitpal-font">\</i> {{ 'Delete' | translate }}
		</a>
    </div>
</div>