<div class="modal-lg-header container">
	<div class="row full-height">
		<div class="col-xs-7 col-md-7 full-height">
            <a class="btn btn-square btn-square-next-prev back" *ngIf="canGoBack()" (click)="goBack()">
                <i class="fa unitpal-font"><</i>
            </a>
            <span class="operational-page-font-container"><i class="fa fa-2x unitpal-font">{{ titleMeta.fontName }}</i></span>
			<h1 class="oneline-text full-height">
				{{ titleMeta.title }}
			</h1>
		</div>
		<div class="col-xs-5 col-md-5 full-height">
			<div class="row full-height">
				<div class="col-xs-8"></div>
				<div class="col-xs-4 full-height">
					<a class="btn btn-square float-right" (click)="triggerOnExit()">
						<i class="fa unitpal-font">C</i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-lg-body container operational-page-container">
	<room-operations-page class="full-height" 
        *ngIf="isRoomOperationsPage()"
        [roomOperationsPageParam]="currentHotelOperationsPageParam"> 

    </room-operations-page>
</div>