<loading-component [isLoading]="!didInit"></loading-component>

<div *ngIf="didInit">
	<div class="row table-filter">
		<!--TODO: Investigate if !isCollapsed && !tableOptions.canSearch then the total sum is 16 != 12-->
		<div *ngIf="tableOptions.canSearch" [ngClass]="{'col-xs-4 col-md-4': !isCollapsed, 'col-xs-12 col-md-12': isCollapsed}">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="{{tableMeta.searchInputPlaceholder}}" [ngFormControl]="textSearchControl"
				/>
				<span class="input-group-btn">
						<button class="btn" type="button" (click)="searchByText()">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</span>
			</div>
		</div>
		<div class="col-xs-4 col-md-4" *ngIf="!tableOptions.canSearch && !isCollapsed">
		</div>
		<div class="col-xs-4 col-md-4" *ngIf="!isCollapsed">
		</div>
		<div class="col-xs-4 col-md-4" *ngIf="!isCollapsed">
			<div>
				<label>{{ 'Show' | translate }}
						<select [ngModel]="paginationIndex.numOfItemsPerPage" (ngModelChange)="didChangeNumOfItemsPerPage($event)">
							<option *ngFor="let nomPerPage of paginationIndex.nunOfItemsPerPageList" [value]="nomPerPage">
								{{nomPerPage}}
							</option>
						</select> {{ 'items' | translate }}
					</label>
			</div>
		</div>
	</div>

	<div>
		<table class="lazy-loading">
			<thead>
				<tr>
					<th field='Nick'>Nick</th>
					<th field='Mail'>Mail</th>
					<th field='Web'>Web</th>
					<th field='Twitter'>Twitter</th>
					<th field='Id'>Id</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td field='New'>
						<a class="btn btn-lg" *ngIf="tableOptions.canAdd" (click)="addItem()">
							<i class="fa fa-plus"></i> {{tableMeta.addButtonText}}
						</a>
					</td>

					<td field='Stats'>
						{{paginationIndex.pageNumberStat}}
					</td>
					<td field='Pages'>
						<ul class="pagination">
							<li [ngClass]="{disabled: isFirstPage()}">
								<a (click)="updatePageNumber(paginationIndex.firstPageNumber)">
									<i class="fa fa-angle-double-left"></i>
								</a>
							</li>
							<li *ngFor="let index of paginationIndex.indexList" [ngClass]="{active: index.isSelected}">
								<a (click)="updatePageNumber(index.pageNumber)">{{index.displayNumber}}</a>
							</li>
							<li [ngClass]="{disabled: isLastPage()}">
								<a (click)="updatePageNumber(paginationIndex.lastPageNumber)">
									<i class="fa fa-angle-double-right"></i>
								</a>
							</li>
						</ul>

					</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
				<tr>
					<td field='Nick'>Fulano</td>
					<td field='Mail'>Fulano@gmail.com</td>
					<td field='Web'>fulano.es</td>
					<td field='Twitter'>@Fulano</td>
					<td field='Id'>1</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>