@import  "https://fonts.googleapis.com/css?family=Raleway:400,200,200italic,400italic,700,700italic&subset=latin,latin-ext";

/* CSS Document */
@font-face {
    font-family: UnitpalIcons;
    src: url(../fonts/UnitpalIcons.TTF);
}

/*.unitpal-font {
    font-family: UnitpalIcons !important;
    font-weight: 400;
    font-size: larger;
}*/

.unitpal-font { font-family: UnitpalIcons !important; font-weight:normal; font-size:larger; }
.unitpal-large { font-size:xx-large;  line-height:100%; } 

.menu_section .unitpal-font {
    font-size: x-large;
    margin-top: -8px;
}

.signup-step {
    background-color: white; 
}

body,html {
    height: 100%;
    background: #9ac6f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1d5899), to(#558bd0));
    background-image: -webkit-linear-gradient(top, #1d5899, #558bd0);
    background-image: -moz-linear-gradient(top, #1d5899, #558bd0);
    background-image: linear-gradient(to bottom, #1d5899, #558bd0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d5899',endColorstr='#558bd0',GradientType=1);
    background-size: cover;
    background-repeat: no-repeat;
    color: #0b2139;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.card {
    height: 100%;
    overflow-y: hidden;
}
.full-height {
    height: 100%;
    overflow-y: hidden;
}

.card a {
    color: #fc8433;
    cursor: pointer;
}

.card a:hover {
    color: #1E3A6A;
    cursor: pointer;
}

header {
    height: 61px !important;
    padding: 0 12px 0 12px;
}

.container {
    width: 100%;
    height: 100%;
    margin-bottom: -120px !important;
    padding: 0 24px 24px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-fluid>.row{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 12px 0px 12px;
    height: 100%;
}

.login_logo {
    margin-bottom: 24px;
    max-width: 150px;
    height: auto;
}

.singup_logo {
    padding-top: 10px;
    max-height: 49px;
    width: auto;
    margin-bottom: 12px;
}

.signup-title {
    font-weight: 200;
    font-size: 22px;
    padding-left: 24px;
    border-left: 1px solid #fff;
    color: #fff;
    float: left;
}

.navbar-right {
    margin-top: 0;
    float: right;
}

.container-fluid {
    margin: 0 auto;
    height: calc(100% - 71px);
    padding: 0 0 4px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-box {
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.nav.side-menu>li>a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    padding: 13px 15px;
    margin: 0;
}
@media screen and (max-width: 450px) {
    .side-menu-item {
        display: none;   
    }
}
@media screen and (max-width: 800px) and (min-width: 450px) {
    .side-menu-item {
        font-size: 12px;
    }
}

.nav.side-menu>li>a:hover,
.nav.side-menu>li>a:active{
    background-color: rgba(255,255,255,0.75);
    color: #0b2139;
    cursor: pointer;
}

.nav.side-menu>li.disabled-page>a:hover{
    background-color: transparent;
    color: #b1becd;
    cursor: default;
}

.nav.navbar-nav>li>a.user-profile {
    color: #fff;
}

.nav a.user-profile:hover,
.nav a.user-profile:focus {
    background-color: transparent;
    color: #DBDBDB !important;
    cursor: pointer;
}
.nav .open>a.user-profile {
  color: #DBDBDB !important;
  background-color: transparent !important;
}

.card-header{
    border-bottom: 1px solid #ccc;
    height: 70px;
    overflow: hidden;
}

.card-header h1 {
    padding: 0 6px 6px;
    font-size: 22px;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h1 small {
    color: #fc8333;
}

basic-information,
beds,
rooms,
breakfast,
add-on-products,
price-products,
customer-register,
allotments,
beds {
    display: block;
    height: 100%;
}

basic-information{
    background: #fff url(/client/static-assets/images/background_01_default.png) right bottom no-repeat !important;
}

beds{
    background: #fff url(/client/static-assets/images/background_02_beds.png) right bottom no-repeat !important;
}

rooms{
    background: #fff url(/client/static-assets/images/background_03_rooms.png) right bottom no-repeat !important;
}

breakfast{
    background: #fff url(/client/static-assets/images/background_04_breakfast.png) right bottom no-repeat !important;
}

add-on-products{
    background: #fff url(/client/static-assets/images/background_05_addon.png) right bottom no-repeat !important;
}

price-products{
    background: #fff url(/client/static-assets/images/background_06_pproducts.png) right bottom no-repeat !important;
}

customer-register{
    background: #fff url(/client/static-assets/images/background_07_customers.png) right bottom no-repeat !important;
}
allotments{
    background: #fff url(/client/static-assets/images/background_08_allotment.png) right bottom no-repeat !important;
}

.signup-skip {
    margin-right: 12px;
}

.wizard-pagination{
  position: absolute;
  left:0px;
  bottom: 0px;
  width: 100%;
  height: 82px;
  padding-top: 12px;
}

.btn.btn-app {
    position: relative;
    padding-top: 12px;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    border: 0;
    background-color: rgba(255,132,50,1.0);
    font-size: 12px;
}

.btn.btn-app > i {
    top: -17px;
    position: relative;
}
.wizard-pagination .btn-spaceing{
    display: inline-block;
    width: 10px;
}

.signup-step .btn.btn-app .fa {
    font-size: 55px;
}

.form-warning input:focus {
    border: 1px solid #cf5b11 !important;
}

input:focus {
    border: 1px solid #276bb6 !important;
}

.form-warning .form-control {
    border: 1px solid #fc8433 !important;
}

.input-group.form-warning + label.form-warning {
    display: block;
}

label.form-warning {
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 0;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    color: #fff;
    display: none;
    width: 100% !important;
    z-index: 99;
    background: #fc8433;
}

.input-group {
    width: 100% !important;
}

textarea {
    resize: none;
}


.button-items {
    display: inline-block;
    line-height: 0;
}

.button-items .btn-default {
    width: 128px;
    padding: 12px 12px 6px;
}

.button-radio {
    display: inline-block;
    line-height: 0;
}

.button-radio .btn-default {
    width: 72px;
    padding: 18px 12px;
}

.button-check {
    display: inline-block;
    line-height: 0;
}

.button-check .btn-default {
    width: 48px;
    padding: 12px 6px;
}

.fileinput-preview > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

table .buttons,table button,table .btn {
    margin: 0;
}

.card-header .description {
    margin-top: 6px;
}

.overview-right {
    border-left: 1px solid #ccc;
    padding: 5px 0 0 24px;
    height: 100%;
}
.overview-right h1 {
    font-size: 22px; 
}

.overview-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 0px;
}

.overview-left .table p {
    margin: 0;
}

#singleview-search-input input {
    border: 0;
    padding: 12px !important;
    margin: 0;
    padding: 0;
}

#singleview-search-input input:focus {
    border: 0 !important;
    background: #eee;
}

#singleview-search-input .btn {
    background: transparent;
    border: 0;
    color: #ccc;
}

#singleview-search-input .input-group {
    margin: 0;
}

.add-bed {
    padding-top: 12px;
    margin-top: 24px;
    border-top: 1px solid #ccc;
}

.save-cancel {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.file-upload {
    width: 100%;
}

.bed-group {
    margin-bottom: 0;
}

.amenities-group {
    margin-bottom: 0;
}

.bed-slot {
    display: inline;
}

.bed-slot p {
    color: #000;
    margin: 0;
}

.bed-slot h4 {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.bed-slot:hover {
    background: #ccc;
}

.button-cancel,
.button-save,
.button-copy {
    min-width: 128px;
    padding: 12px 16px;
}

label small {
    font-weight: 400;
}

.vertical-alignment-helper {
    height: 100%;
    width: 100%;
}

.vertical-align-center {
/* To center vertically */
    vertical-align: middle;
}

.modal-content {
/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
/* To center horizontally */
    margin: 0 auto;
}

/* Fixes Section */

/* resolves the wrong padding on Chrome for input type="number" */
input[type="number"].form-control {
    padding-top: 0;
}

/* End Fixes Section */
/* 3angle TECH */

lazy-loading-table {
    display: block;
    height: 100%;
}

.overview-right-body{
    height: calc(100% - 82px);
    overflow-y: hidden;    
}

.wizard-nav  {
    background-color:rgba(255, 255, 255, 0.66);
    color:#0b2139;
    padding: 0px;
    height: 100%;
    /*TODO: Use scroll*/ 
    overflow-y: hidden;
}

.main_menu_side {
    height: 100%;
 }

.nav.side-menu> li.current-page,
.nav.side-menu> li.active {
    border-right: 6px solid #fc8433;
    background: #fff;
}

.nav>li.disabled-page>a {
    color:#b1becd;
}

.card-body{
    /* TODO: If we put 100% it will be 100% of the parent height, when it should be 100% of the remaining height.
    *  TO fix this we substract 82px (card-header height + padding), this is a quick fix that work but we should find something smarter.
    */
    height: calc(100% - 70px)
}
.card-body h3 {
    font-size: 20px;
}

/* Theme structure */

.edit-container {
    height: 100%;
    border-left: 1px solid #ccc;
    overflow: hidden;
    padding: 0px;
}

.edit-form-container {
    height: 100%;
}

.edit-form {
    margin: 15px;
}

.basic-info-container {
    height: 100%;
    padding: 0px;
}
.basic-info-form-container {
    height: 100%;
}
.basic-info-form {
    height: 100%;
    padding: 5px 15px;
}

/* Bootstrap overrides */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #6098D1 !important;
    border-color: #6098D1 !important;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
    background-color: #F89D28 !important;
    border-color: #F89D28 !important;
}

/* End Bootstrap overrides */
/* Grid spacing - for angular */
.th-grid-btn {
    margin: 2px !important;
}

.th-radio-input {
    display: none;
}

.bed-btn {
    margin: 5px 0px;
}

.bed-btn > span {
    font-size: 48px;
}

.bed-icon-overview {
    font-size: 75px;
}

.bed-add {
    float: right;
    width: 40px;
    height: 120px;
    margin: 0;
}

.bed-add-btn {
    height: 40px;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.bed-remove-btn {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}

.bed-container {
    float: left;
    width: calc(100% - 40px);
    height: 120px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.bed-slot {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 10px 5px;
    border: 1px solid #fc8433;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    color: #fc8433;
}

.bed-slot-info {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}

.bed-slot-info .bed-icon {
    font-size: 25px;
}

.bed-slot:hover {
    background-color: transparent;
}

.btn.bed-slot:hover {
    color: #fc8433;
}

.bed-slot.available {
    border: none;
    background: #ccc;
}

.bed-slot.available:hover {
    background-color: #ccc;
}

.bed-slot.unselected {
    color: #000;
    border: 1px solid #000;
}

.bed-slot.unselected:hover {
    color: #fc8433;
    border: 1px solid #fc8433;
}

.bed-selection-message {
    text-align: center;
}

.room-categ-label {
    width: 85%;
}

.room-categ-select {
    width: 15%;
}

td room-categ-capacity {
    text-align: center;
} 

.modal-body td.operations {
    text-align: right;
}

.modal-footer th-button {
    padding: 0px;
}

/* Bootstrap img-responsive bug on Firefox */
.img-responsive {
    width: 100%;
}

.modal .modal-body {
    max-height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}

.modal .modal-body.table-selection {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

.modal-body lazy-loading-table {
    flex-grow: 1;
} 

.modal-xlg {
    margin: 61px 30px 20px 30px;
    height: calc(100% - 38px);
    width: calc(100% - 60px);
    min-height: 400px;
    min-width: 300px;
}
.modal-body-xl {
    height: calc(100% - 121px);
}

.selectable-row {
    cursor: pointer;
}

.modal a {
    color: #fc8433;
}

.modal a:hover {
    color: #cf5b11;
}

.color-box {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,.2);
}

.text-center {
    text-align: center;
}

.text-warning {
    color:#fc8433;
}

.table-item-action-group {
    text-align:right;
}

.red {
    background: #FF0000;
}

.red-color {
    color: #FF0000;
}

.yellow {
    background: #D1D100;
}

.green {
    background: #5CB85C;
}

.green-color {
    color: #5CB85C;
}

.blue {
    background: #428BCA;
}

.gray {
    background: #7F8C8D;
}

.brown {
    background: #AD8D43;
}

.violet {
    background: #A295D6;
}

.orange {
    background: #F0AD4E;
}

.olive {
    background: #D1D100;
}

.purple {
    background: #8E44AD;
}

.yield-filter {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Maybe get rid of the 'th' prefix */
.th-btn-weekday {
    width: 100px !important;
}

/* Upload components */
input[type="file"] {
    display: none;
}

.th-img-upload-container {
    width:100%;
}

.th-img-upload-preview {
    width: 100%;
    height: 142px;
    margin-bottom: 5px;
    text-align: center;
}

.th-img-upload-placeholder {
    top: 50%;
    transform: translate(0,-50%);
    position: relative;
}

.th-file-actions {
    width: 15%;
}

.th-file-label {
    width: 85%;
}

.th-file-add {
    width: 30%;
    padding-left: 0;
}

.next-btn-loading {
    font-size: 38px !important;
    top: -9px !important;
    left: -7px;
}

/* Pace loader */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #fc8433;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.th-padding-top {
    padding-top: 12px;
}
.th-padding-bottom {
    padding-bottom: 12px;
}
.form-group > label {
    font-size: 12px;
    font-weight: bold;
}

/**
    Lazy loading fixed header table css
*/
lazy-loading-table {
    display: flex;
    flex-direction: column;
}

.lazy-loading-table-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.th-button-box {
    padding-top: 0;
    padding-bottom: 0;
}
.th-button-box>i {
    font-size: 30px;
}
.th-button-box>span {
    font-size: 12px;
    height: 30px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 0px 0px 2px;
    max-width: 100px;
}
@media screen and (max-width: 650px) {
    .th-button-box>span {
        display: none;
    }
}
.table-filter {
    margin: 0px 10px 5px 10px;
    flex-grow: 0;
}

table.lazy-loading {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
  margin:0;
}

table.lazy-loading tbody,
table.lazy-loading thead,
table.lazy-loading tfoot {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

table.lazy-loading tbody {
  overflow-y: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}

table.lazy-loading tbody tr:last-child {
  flex-grow: 1;
}

table.lazy-loading tr {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
}

table.lazy-loading tbody tr:not(:last-child):not(:first-child) {
    border-top: 1px solid rgb(220,220,220)
}

table.lazy-loading tr.active,
table.lazy-loading tbody tr:not(:last-child):hover {
  background: rgb(210,210,210);
}

table.lazy-loading td,
table.lazy-loading th {
  display: block;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 50px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table.lazy-loading thead tr,
table.lazy-loading tbody tr {
  height: 40px;
}
table.lazy-loading th,
table.lazy-loading tbody td {
  line-height: 40px;
}
table.lazy-loading tfoot td {
  height: 50px;
  line-height: 50px;
}
table.lazy-loading tfoot {
    border-top: 1px solid rgb(210,210,210);
}

table.lazy-loading th:nth-child(even) {
  background: rgba(225, 225, 225, 0.6);  
}

table.lazy-loading th:nth-child(odd) {
  background: rgba(244, 244, 244, 0.6);  
}

table.lazy-loading.odd-columns th:last-child {
  background: rgba(225, 225, 225, 0.6);  
}

table.lazy-loading.even-columns th:last-child {
  background: rgba(244, 244, 244, 0.6);  
}

table.lazy-loading tbody td:nth-child(even) {
  background: rgba(244, 244, 244, 0.6);
}

table.lazy-loading tbody td:nth-child(odd) {
  background: rgba(255, 255, 255, 0.6);
}

table.lazy-loading.odd-columns tbody td:last-child {
  background: rgba(244, 244, 244, 0.6);  
}

table.lazy-loading.even-columns tbody td:last-child {
  background: rgba(255, 255, 255, 0.6);  
}

table.lazy-loading tfoot {
  background: rgba(255, 255, 255);
}

table.lazy-loading th.center,
table.lazy-loading td.center {
    text-align: center;
}

table.lazy-loading th.left,
table.lazy-loading td.left {
    padding-left: 5px;
    text-align: left;
}

table.lazy-loading td.right {
    text-align: right;
}

table.lazy-loading .pagination-container {
    padding-right: 10px;       
}

/* This is to override default pagination style */
table.lazy-loading .th-pagination {
    margin: 5px 0px 0px 0px;
}

.lazy-loading-table-filter {
    margin-bottom: 5px;    
}

.up-col-0p {
    display: none !important;   
}
.up-col-5p {
    flex-grow: 1 !important;
}
.up-col-10p {
    flex-grow: 2 !important;
}
.up-col-15p {
    flex-grow: 3 !important;
}
.up-col-20p {
    flex-grow: 4 !important;
}
.up-col-25p {
    flex-grow: 5 !important;
}
.up-col-30p {
    flex-grow: 6 !important;
}
.up-col-35p {
    flex-grow: 7 !important;
}
.up-col-40p {
    flex-grow: 8 !important;
}
.up-col-50p {
    flex-grow: 10 !important;
}
.up-col-60p {
    flex-grow: 12 !important;
}
.up-col-70p {
    flex-grow: 14 !important;
}
.up-col-80p {
    flex-grow: 16 !important;   
}
.up-col-90p {
    flex-grow: 18 !important;
}
.up-col-95p {
    flex-grow: 19 !important;
}
.up-col-100p {
    flex-grow: 20 !important;
}

.edit-form-container {
    padding: 10px;
}

.basic-info-settings-container {
    height: 100%;
    padding: 0px;
    overflow: hidden;
}

.basic-info-settings-tabbar {
    margin-top: 10px;            
}

.basic-info-settings-edit-container {
    height: calc(100% - 53px);
    padding: 5px 0 5px 0;       
}

.allotment-availability-overview {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px !important;
    width: 80%;
}
.disabled-text {
    color: #7F8C8D;
}
.th-list-group {
    margin-bottom: 0;
}

@media print {
    @page {
        size:297mm 210mm;
    }
    body * {
        visibility:hidden;
    }
    .printable-section, .printable-section * {
        visibility:visible;
    }
    .printable-section {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 10px;
        line-height: 13px;
    }
}

.home-header-button {
    font-size: 24px;
    color: white;
    height: 61px;
    cursor: pointer;
    width: 130px;
    display: inline-block;
}
.home-header-button.active {
    border-bottom: 4px solid #fc8433 !important;
}
.home-header-button.active .left-separator {
    opacity: 1.0;
}
.home-header-button.active>p {
    opacity: 1.0;
}
.home-header-button.active>span  {
    opacity: 1.0;
}

.home-header-button .left-separator {
    width: 1px;
    height: 34px;
    position: relative;
    left: 0px; top: 13px;
    background-color: white;
    opacity: 0.7;
    display: inline-block;
}
.home-header-button>span {
    position: relative;
    left: 8px;
    top: 7px;
    width: 35px;
    line-height: 100%;
    color: white;
    opacity: 0.7;
}
.home-header-button>p {
    font-size: 11px;
    display: inline-block;
    white-space: normal;
    text-align: left;
    width: 65px;
    position: relative;
    left: 13px;
    top: 7px;
    line-height: 12px;
    color: white;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .home-header-button>p {
        display: none;   
    }
    .home-header-button {
        width: 55px;
    }
}

.home-header-logo {
    display: inline-block;
    height: 61px;
    width: 130px;
}
.home-header-logo>img {
    max-height: 25px;
    display: inline-block;
    position: relative;
    left: 0px;
    top: 12px;
}
.home-header-logo>p {
    font-size: 22px;
    display: inline-block;
    color: white; 
    position:relative;
    top: 17px;  
}
@media screen and (max-width: 760px) {
    .home-header-logo {
        width: 40px;
    }
    .home-header-logo>img {
        left: 13px;
        top: 16px;
    }
    .home-header-logo>p {
        display: none;
    }
}

 .home-header-name {
     display: inline-block;
     float: right;
     width: 300px;
     text-align: right;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 19px;
     color: white;
     padding-top: 13px;
 }
@media screen and (min-width: 1700px) {
    .home-header-name {
        width: 500px;
    }
}
@media screen and (min-width: 1400px) and (max-width: 1700px) {
    .home-header-name {
        width: 400px;
    }
}
@media screen and (max-width: 1160px) and (min-width: 1000px) {
    .home-header-name {
        width: 200px;
    }
}
@media screen and (max-width: 1000px) {
    .home-header-name {
        width: 150px;
    }
}
@media screen and (max-width: 920px) {
    .home-header-name {
        display: none;
    }
}

.home-side-card {
    height: 100%;
    overflow-y: hidden;
    background: #f3f3f3;
    padding: 0px 0px 0px 0px;
}
.home-side-card-bottom-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: white;
    border-top: 1px solid #DBDBDB;
    text-align: center;
}

.home-card {
    height: 100%;
    overflow-y: hidden;
    background: #eeeeee;
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
}

.dropdown-menu.msg_list {
    width: 300px !important;
}

.dropdown-menu.msg_list span {
    white-space: normal;
}
.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #999999;
}

.dropdown-menu:after {
    border-bottom: 6px solid #999999;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    right: 6%;
    position: absolute;
    top: -6px;
}

.dropdown-menu>li>a {
    color: #5A738E;
}

.info-number .badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 12px;
    top: 8px;
    background: #fc8433 !important;
    border: 1px solid #fc8433 !important;
    color: #fff;
}
ul.msg_list li a .time {
    font-size: 11px;
    font-style: italic;
}
ul.msg_list li a .message {
    display: block !important;
    font-size: 11px;
    cursor: pointer;
}
.message.unread {
    font-weight: bold;
}

.dropdown {
    width: 45px;
    height: 60px;
    float: left;
}
@media screen and (max-width: 430px) {
    .dropdown {
        width: 41px;
    }
}
.dropdown-trigger-button {
    padding-top: 19px;
    color: white;
}
.dropdown-trigger-button:hover,
.dropdown-trigger-button:focus {
    background-color: transparent;
    color: #DBDBDB !important;
    cursor: pointer;
}
.open .dropdown-trigger-button {
    color: #DBDBDB !important;
}