<div class="modal-header text-center">
	<button type="button" class="close" (click)="closeDialog()">&times;</button>
	<h4 class="modal-title">{{ 'Price Product Constraints' | translate }}</h4>
</div>
<div class="modal-body">
	<price-product-constraint-selector
		(onConstraintChange)="didSelectConstraint($event)">
	</price-product-constraint-selector>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="addConstraint()" [disabled]="!constraintDO.isValid()">
		{{ 'Add' | translate }}
	</button>
</div>