<div class="overview-left" [ngClass]="{'col-xs-9': !isEditing, 'col-xs-3': isEditing}">
	<lazy-loading-table 
		[isCollapsed]="isEditing" 
		(onAdd)="addAddOnProduct()"
		(onCopy)="copyAddOnProduct($event)"
		(onDelete)="deleteAddOnProduct($event)"
		(onSelect)="selectAddOnProduct($event)"
		(onEdit)="editAddOnProduct($event)"
		>
	</lazy-loading-table>
</div>
<div [ngClass]="{'col-xs-3 overview-right': !isEditing, 'col-xs-9 edit-container': isEditing}">
	<add-on-product-overview 
		*ngIf="selectedAddOnProductVM && !isEditing" 
		[addOnProductVM]="selectedAddOnProductVM"
		(onEdit)="editAddOnProduct($event)">
	</add-on-product-overview>
	<add-on-product-edit
		*ngIf="selectedAddOnProductVM && isEditing" 
		[filteredCategory]="filteredCategory"
		[addOnProductVM]="selectedAddOnProductVM"
		(onExit)="showViewScreen()">
	</add-on-product-edit>
	<div #overviewBottom>
	</div>
</div>