<div class="overview-left" [ngClass]="{'col-sm-9': !isEditing, 'col-sm-3': isEditing}">
	<lazy-loading-table 
		[isCollapsed]="isEditing" 
		(onAdd)="addAddOnProduct()"
		(onCopy)="copyAddOnProduct($event)"
		(onDelete)="deleteAddOnProduct($event)"
		(onSelect)="selectAddOnProduct($event)"
		(onEdit)="editAddOnProduct($event)"
		>
	</lazy-loading-table>
</div>
<div class="col-sm-3 overview-right hidden-xs hidden-sm" *ngIf="!isEditing">
	<add-on-product-overview 
		*ngIf="selectedAddOnProductVM" 
		[addOnProductVM]="selectedAddOnProductVM"
		(onEdit)="editAddOnProduct($event)">
	</add-on-product-overview>

	<div class="row">
		<wizard-steps-component></wizard-steps-component>
	</div>
	
</div>
<div class="col-sm-9 edit-container" *ngIf="isEditing">
	<add-on-product-edit
		*ngIf="selectedAddOnProductVM" 
		[filteredCategory]="filteredCategory"
		[addOnProductVM]="selectedAddOnProductVM"
		(onExit)="showViewScreen()">
	</add-on-product-edit>
</div>