<div class="modal-header text-center">
    <button type="button" class="close" (click)="closeDialog()">&times;</button>
    <h4 class="modal-title">{{ 'Select Bed' | translate }}</h4>
</div>
<div class="modal-body" #scrollableContent>
    <loading-component [isLoading]="isLoading"></loading-component>

    <div class="row">
        <div class="col-xs-6 col-md-4" *ngFor="#bedSelectionVM of bedSelectionVMList">
            <div class="row">
                <div class="col-xs-12 col-md-12" style="text-align:center;">
                    <div class="btn bed-slot unselected" (click)="bedSelectionVM.numberOfInstances=bedSelectionVM.numberOfInstances+1">
                        <div class="bed-slot-inner" [title]="bedSelectionVM.bedVM.bed.name">
                            <div class="bed-btn">
                                <span class="unitpal-font">{{bedSelectionVM.bedVM.template.iconUrl}}</span>
                            </div>
                            <small>{{bedSelectionVM.bedVM.bed.name}}</small>
                            <br/> {{bedSelectionVM.bedVM.capacity.maxAdults}}
                            <span class="unitpal-font">:</span> {{bedSelectionVM.bedVM.capacity.maxChildren}}<span class="unitpal-font">;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6 form-group">
                    <input type="number" class="form-control" [(ngModel)]="bedSelectionVM.numberOfInstances" [min]="minBedNo" [max]="maxBedNo">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="didPassedTheMaxNoOfBeds" class="row">
        <div class="col-xs-12 col-md-12 bed-selection-message">
            <small class="text-warning"><i class="fa fa-info-circle"></i>{{ 'The maximum limit beds per room has been exceeded.' | translate }} ({{ maxBedNo }})</small>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!didSelectAtLeastOneBed||didPassedTheMaxNoOfBeds" (click)="triggerSelectedBed()">
        {{ 'Save' | translate }}
    </button>
</div>