<div class="modal-header text-center">
    <button type="button" class="close" (click)="closeDialog()">&times;</button>
    <h4 class="modal-title">{{ 'Select Bed' | translate }}</h4>
</div>
<div class="modal-body" #scrollableContent>
    <loading-component [isLoading]="isLoading"></loading-component>

    <div class="row">
        <div class="col-md-4" *ngFor="#bedVM of bedVMList">
            <div class="btn bed-slot" [ngClass]="{'unselected': !bedSelected(bedVM)}" (click)="selectedBedVM=bedVM">
                <div class="bed-slot-inner" [title]="bedVM.bed.name">
                    <span class="unitpal-font bed-btn">{{bedVM.template.iconUrl}}</span>
                    <br/>
                    <small>{{bedVM.bed.name}}</small>
                    <br/> {{bedVM.capacity.maxAdults}}
                    <span class="unitpal-font">:</span> {{bedVM.capacity.maxChildren}}<span class="unitpal-font">;</span>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!didSelectBed()" (click)="triggerSelectedBed()">
        {{ 'Select' | translate }}
    </button>
</div>