<div class="modal-header text-center">
    <button type="button" class="close" (click)="closeDialog()">&times;</button>
    <h4 class="modal-title">{{ 'Select Bed' | translate }}</h4>
</div>
<div class="modal-body" #scrollableContent>
    <loading-component [isLoading]="isLoading"></loading-component>

    <div class="row">
        <div class="col-xs-6 col-md-4" *ngFor="let bedSelectionVM of bedSelectionVMList">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-center">
                    <div class="bed-slot unselected" (click)="bedSelectionVM.numberOfInstances=bedSelectionVM.numberOfInstances+1">
                        <div *ngIf="!bedSelectionVM.bedVM.accommodatesBabies" class="bed-slot-info" [title]="bedSelectionVM.bedVM.bed.name">
                            <span class="bed-icon unitpal-font">{{bedSelectionVM.bedVM.template.iconUrl}}</span>
                            <small class="bed-slot-property">{{bedSelectionVM.bedVM.bed.name}}</small>
                            <small class="bed-slot-property type">
                                <span>
                                    <i class="fa fa-arrows-h"></i>{{ bedSelectionVM.bedVM.bed.size.lengthCm }} <i class="fa fa-arrows-v">{{ bedSelectionVM.bedVM.bed.size.widthCm }}</i>
                                </span>
                                {{ bedSelectionVM.bedVM.bedStorageTypeString | translate }}
                            </small>
                            <small class="bed-slot-property info">
                                <config-capacity [configCapacity]="bedSelectionVM.bedVM.capacity"></config-capacity>
                            </small>
                        </div>
                        <div *ngIf="bedSelectionVM.bedVM.accommodatesBabies" class="bed-slot-info" [title]="bedSelectionVM.bedVM.bed.name">
                            <span class="bed-icon unitpal-font">{{bedSelectionVM.bedVM.template.iconUrl}}</span>
                            <small class="bed-slot-property">{{bedSelectionVM.bedVM.bed.name}}</small>
                            <small class="bed-slot-property type">
                                 {{ bedSelectionVM.bedVM.bedStorageTypeString | translate }}
                            </small>
                            <small class="bed-slot-property info">{{bedSelectionVM.bedVM.capacity.noBabyBeds}}<span class="unitpal-font">B</span></small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6 form-group">
                    <input type="number" class="form-control" [(ngModel)]="bedSelectionVM.numberOfInstances" name="bedNumberOfInstances" [min]="minBedNo" [max]="maxBedNo">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="didPassedTheMaxNoOfBeds" class="row">
        <div class="col-xs-12 col-md-12 bed-selection-message">
            <small class="text-warning"><i class="fa fa-info-circle"></i>{{ 'The maximum limit beds per room has been exceeded.' | translate }} ({{ maxBedNo }})</small>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!didSelectAtLeastOneBed||didPassedTheMaxNoOfBeds" (click)="triggerSelectedBed()">
        {{ 'Save' | translate }}
    </button>
</div>