<div class="overview-left" [ngClass]="{'col-xs-9': !isEditing, 'col-xs-3': isEditing}">
	<div class="lazy-loading-table-filter">
		<ul class="nav nav-tabs">
			<li [ngClass]="{active : areActivePriceProducts()}" *ngIf="!isEditing || areActivePriceProducts()">
				<a (click)="viewActivePriceProducts()">{{ 'Active' | translate }}</a>
			</li>
			<li [ngClass]="{active : areDraftPriceProducts()}" *ngIf="!isEditing || areDraftPriceProducts()">
				<a (click)="viewDraftPriceProducts()">{{ 'Draft' | translate }}</a>
			</li>
			<li [ngClass]="{active : areArchivedPriceProducts()}" *ngIf="!isEditing || areArchivedPriceProducts()">
				<a (click)="viewArchivedPriceProducts()">{{ 'Archived' | translate }}</a>
			</li>
		</ul>
	</div>
	<lazy-loading-table
		[isCollapsed]="isEditing"
		(onAdd)="addPriceProduct()"
		(onCopy)="copyPriceProduct($event)"
		(onSelect)="selectPriceProduct($event)"
		
		(onEdit)="editPriceProduct($event)"
		(onDelete)="deletePriceProduct($event)"
		(onArchive)="archivePriceProduct($event)"
		(onDraft)="draftPriceProduct($event)"
		>
	</lazy-loading-table>
</div>
<div [ngClass]="{'col-xs-3 overview-right': !isEditing, 'col-xs-9 edit-container': isEditing}">
	<price-product-overview 
		*ngIf="selectedPriceProductVM && !isEditing" 
		[priceProductVM]="selectedPriceProductVM"
		(onEdit)="editPriceProduct($event)"
		(onDelete)="deletePriceProduct($event)"
		(onArchive)="archivePriceProduct($event)"
		(onDraft)="draftPriceProduct($event)"
		(onCopy)="copyPriceProduct($event)"
		(onCreateRelatedPriceProduct)="createRelatedPriceProduct($event)"
		>
	</price-product-overview>
	<price-product-edit-container
		*ngIf="selectedPriceProductVM && isEditing" 
		[priceProductVM]="selectedPriceProductVM"
		(onExit)="showViewScreen()">
	</price-product-edit-container>
	<div #overviewBottom>
	</div>
</div>