<div class="overview-left" [ngClass]="{'col-sm-9': !isEditing, 'col-sm-3': isEditing}">
	<div class="row">
		<ul class="nav nav-tabs">
			<li [ngClass]="{active : areActivePriceProducts()}" *ngIf="!isEditing || areActivePriceProducts()">
				<a (click)="viewActivePriceProducts()">{{ 'Active' | translate }}</a>
			</li>
			<li [ngClass]="{active : areDraftPriceProducts()}" *ngIf="!isEditing || areDraftPriceProducts()">
				<a (click)="viewDraftPriceProducts()">{{ 'Draft' | translate }}</a>
			</li>
			<li [ngClass]="{active : areArchivedPriceProducts()}" *ngIf="!isEditing || areArchivedPriceProducts()">
				<a (click)="viewArchivedPriceProducts()">{{ 'Archived' | translate }}</a>
			</li>
		</ul>
		<br/>
	</div>
	<lazy-loading-table
		[isCollapsed]="isEditing"
		(onAdd)="addPriceProduct()"
		(onCopy)="copyPriceProduct($event)"
		(onSelect)="selectPriceProduct($event)"
		
		(onEdit)="editPriceProduct($event)"
		(onDelete)="deletePriceProduct($event)"
		(onArchive)="archivePriceProduct($event)"
		(onDraft)="draftPriceProduct($event)"
		>
	</lazy-loading-table>
</div>
<div class="col-sm-3 overview-right hidden-xs hidden-sm" *ngIf="!isEditing">
	<price-product-overview 
		*ngIf="selectedPriceProductVM" 
		[priceProductVM]="selectedPriceProductVM"
		
		(onEdit)="editPriceProduct($event)"
		(onDelete)="deletePriceProduct($event)"
		(onArchive)="archivePriceProduct($event)"
		(onDraft)="draftPriceProduct($event)"
		>
	</price-product-overview>
</div>
<div class="col-sm-9 singleview-right edit-container" *ngIf="isEditing">
	<price-product-edit-container
		*ngIf="selectedPriceProductVM" 
		[priceProductVM]="selectedPriceProductVM"
		(onExit)="showViewScreen()">
	</price-product-edit-container>
</div>