<div class="modal-header text-center">
	<button type="button" class="close" (click)="closeDialog()">&times;</button>
	<h4 class="modal-title" *ngIf="!didSelectRoom()">{{ 'Select Room' | translate }}</h4>
	<h4 class="modal-title" *ngIf="didSelectRoom()">{{ 'Select Price' | translate }}</h4>
</div>
<div class="modal-body">
    <room-selection *ngIf="!didSelectRoom()" (onRoomSelected)="updateCurrentSelectedRoom($event)" class="modal-body table-selection"></room-selection>
	<price-selection *ngIf="didSelectRoom()" (onPriceSelection)="didChangePriceSelection($event)" class="modal-body table-selection"></price-selection>
	
</div>
<div class="modal-footer">
	<button *ngIf="!didSelectRoom()" [disabled]="!selectedRoomVM" (click)="selectRoom()" type="button" class="btn btn-primary">
		{{ 'Select' | translate }}
	</button>
	<button *ngIf="didSelectRoom()" [disabled]="!selectedRoomCategoryId" (click)="applyRoomAssign()" type="button" class="btn btn-primary">
		<i *ngIf="isAssigningRoom" class="fa fa-spinner fa-pulse"></i>
		{{ strategyButtonText | translate }}
	</button>
</div>