<div class="row full-height">
	<div class="col-xs-7 full-height right-margin booking-search-container">
		<div class="row booking-search-inputs" customScroll>
			<booking-search-parameters
				[isSearching]="isSearching"
				(onBookingSearch)="searchBookings($event)">
			</booking-search-parameters>
		</div>
		<div class="row booking-search-results">
			<lazy-loading-table #searchResults (onAddExistingItem)="addBookingVMInCart($event)">
			</lazy-loading-table>
		</div>
		<div class="row booking-search-room-availability">
           <button type="button" class="btn btn-secondary booking-search-room-availability-button" (click)="openRoomAvailabilityModal()" *ngIf='getNumberOfAvailableRooms()!==undefined'>
			 {{ '%noAvailable% out of %noTotal%' | translate:{noAvailable: getNumberOfAvailableRooms(), noTotal: getTotalNumberOfRooms()} }}
		   </button>
		</div>
	</div>
	<div class="col-xs-5 full-height booking-cart">
		<lazy-loading-table #bookingCart (onDelete)="removeBookingVMFromCart($event)">
		</lazy-loading-table>
	</div>
</div>