<div class="row full-height">
	<div class="col-xs-7 full-height right-margin booking-search-container">
		<div class="row booking-search-inputs" customScroll>
			<div class="col-sm-4 col-xs-12">
				<div class="form-group">
					<label>{{ 'Booking Code' | translate }}
						<small>
							<span *ngIf="showBookingCodeMessage && !validBookingCode" title="{{ 'Not a valid customer booking code' | translate  }}">
								<i class="fa fa-exclamation-circle red-color"></i>
							</span>
							<span *ngIf="showBookingCodeMessage && validBookingCode" title="{{ 'Valid customer booking code' | translate  }}">
								<i class="fa fa-check green-color"></i>
							</span>
							<i class="fa fa-refresh fa-spin" *ngIf="loadingCustomerByCode"></i>
						</small>
					</label>
					<div class="input-group">
						<debouncing-input-text
							[textValue]="bookingCode" (onTextChanged)="searchCustomerByBookingCode($event)"
							>
						</debouncing-input-text>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="form-group">
					<label>{{ 'Customer' | translate }}</label>
					<div class="input-group">
						<search-input-text 
							[placeholder]="'Customer Name'"
							[preselectedItem]="customer"
							(onItemSelected)="didSelectCustomer($event)"
							(onItemDeselected)="didDeselectCustomer()"
							>
						</search-input-text>
						<span class="input-group-addon th-addon-button" (click)="selectCustomer()"> 
						<i class="fa unitpal-font">(</i>  {{ 'Register' | translate }}
						</span>
					</div>
					<label class="form-warning"><small><i class="fa fa-info-circle"></i> {{ 'Not a valid customer' | translate }}</small></label>
				</div>
			</div>
			<div class="col-xs-12">
				<th-date-interval-picker [minDate]="minDate" [startDateLabel]="'Check In'" [startDateFont]="'/'" [endDateLabel]="'Check Out'"
					[endDateFont]="'.'" [showNoOfNights]="true" 
					[initialThDateInterval]="bookingInterval"
					(didSelectThDateInterval)="didSelectBookingInterval($event)">
				</th-date-interval-picker>
			</div>
			<div class="col-xs-12 booking-configuration-container">
				<div class="row booking-configuration">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-md-4 col-xs-12 padding-top-5px">
								<span class="unitpal-font">-</span>
								<small>{{ 'Configuration' | translate }}</small>
							</div>
							<div class="col-md-5 col-xs-12 padding-top-5px">
								<div class="row">
									<div class="col-sm-4 col-xs-12 form-group-small">
										<div class="form-group">
											<div class="input-group input-group-small">
												<span class="input-group-addon"><small></small> <i class="fa unitpal-font">:</i></span>
												<input type="number" class="form-control">
											</div>
											<label class="form-warning"><small><i class="fa fa-info-circle"></i> {{'Enter a valid number' | translate}}</small></label>
										</div>
									</div>
									<div class="col-sm-4 col-xs-12 form-group-small">
										<div class="form-group">
											<div class="input-group input-group-small">
												<span class="input-group-addon"><small></small> <i class="fa unitpal-font">;</i></span>
												<input type="number" class="form-control">
											</div>
											<label class="form-warning"><small><i class="fa fa-info-circle"></i> {{'Enter a valid number' | translate}}</small></label>
										</div>
									</div>
									<div class="col-sm-4 col-xs-12 form-group-small">
										<div class="form-group">
											<div class="input-group input-group-small">
												<span class="input-group-addon"><small></small> <i class="fa unitpal-font">B</i></span>
												<input type="number" class="form-control">
											</div>
											<label class="form-warning"><small><i class="fa fa-info-circle"></i> {{'Enter a valid number' | translate}}</small></label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-12 padding-right-0px">
								<a class="btn search-button">
									<i class="fa unitpal-font">=</i>
									<span>Search</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row booking-search-results">
			<lazy-loading-table>

				<!--template bindings={}-->
				<div class="lazy-loading-table-container">
					<table class="lazy-loading even-columns">
						<thead>
							<tr>
								<!--template bindings={}-->
								<th class="up-col-25p left" title="Name">
									Name
								</th>
								<th class="up-col-25p left" title="Category">
									Category
								</th>
								<th class="up-col-10p center" title="Floor">
									Floor
								</th>
								<th class="up-col-10p center" title="Capacity">
									Capacity
								</th>
								<th class="up-col-20p left" title="Notes">
									Notes
								</th>
								<!--template bindings={}-->
								<th class="up-col-10p">
								</th>
							</tr>
						</thead>
						<tbody customScroll>
							<!--template bindings={}-->
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="101 Single">
										101 Single
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Single Room">
										Single Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="1">
										1
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										1 <span class="unitpal-font">:</span> 1 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="First floor single room notes.">
										First floor single room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="102 Single">
										102 Single
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Single Room">
										Single Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="1">
										1
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										1 <span class="unitpal-font">:</span> 1 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="First floor second single room notes.">
										First floor second single room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="103 Double Double">
										103 Double Double
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Double Double Room">
										Double Double Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="1">
										1
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										4 <span class="unitpal-font">:</span> 2 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="First floor double double room notes.">
										First floor double double room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="104 Double">
										104 Double
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Double Room">
										Double Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="1">
										1
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										2 <span class="unitpal-font">:</span> 1 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="First floor double room notes.">
										First floor double room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="105 Twin">
										105 Twin
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Twin Room">
										Twin Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="1">
										1
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										2 <span class="unitpal-font">:</span> 0 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="First floor twin room notes.">
										First floor twin room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="201 Studio">
										201 Studio
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Studio Room">
										Studio Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="1">
										1
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										3 <span class="unitpal-font">:</span> 2 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Second floor studio room notes.">
										Second floor studio room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="202 Double King">
										202 Double King
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Double King Room">
										Double King Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="1">
										1
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										2 <span class="unitpal-font">:</span> 2 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Second floor double king room notes.">
										Second floor double king room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="301">
										301
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Double King Room">
										Double King Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="3">
										3
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										2 <span class="unitpal-font">:</span> 2 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Second floor double king room notes.">
										Second floor double king room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="302">
										302
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Double King Room">
										Double King Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="3">
										3
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										2 <span class="unitpal-font">:</span> 2 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Second floor double king room notes.">
										Second floor double king room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<tr class="selectable-row">
								<!--template bindings={}-->
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="303">
										303
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-25p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Double King Room">
										Double King Room
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="3">
										3
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<td class="up-col-10p center">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span>
										2 <span class="unitpal-font">:</span> 2 <span class="unitpal-font">;</span>
									</span>
									<!--template bindings={}-->
								</td>
								<td class="up-col-20p left">
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}--><span title="Second floor double king room notes.">
										Second floor double king room notes.
									</span>
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
									<!--template bindings={}-->
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Clone">
										<i class="fa unitpal-font">[</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Edit">
										<i class="fa unitpal-font">]</i>
									</a>
									<!--template bindings={}-->
									<a class="btn btn-xs" title="Delete">
										<i class="fa unitpal-font">\</i>
									</a>
								</td>
							</tr>
							<!--template bindings={}-->
							<tr>
								<!--template bindings={}-->
								<td class="up-col-25p left">
								</td>
								<td class="up-col-25p left">
								</td>
								<td class="up-col-10p center">
								</td>
								<td class="up-col-10p center">
								</td>
								<td class="up-col-20p left">
								</td>
								<!--template bindings={}-->
								<td class="table-item-action-group up-col-10p">

								</td>
							</tr>
							<!--template bindings={}-->
						</tbody>
					</table>
				</div>
			</lazy-loading-table>
		</div>
	</div>
	<div class="col-xs-5 full-height">
	</div>
</div>