<div *ngIf="arrivalItemVM.arrivalItemDO.itemStatus == enums.ArrivalItemStatus.CanCheckIn">
	<div class="left can-check-in">
		<span class="unitpal-font f-32">I</span>
	</div>
	<div class="right p-6">
		<div class="header" >
			<span *ngIf="arrivalItemVM.hasReservedRoom" class="reserved-room ellipsis-text yellow-color" title="{{arrivalItemVM.reservedRoomVM.room.name}}">{{arrivalItemVM.reservedRoomVM.room.name}}</span>
			<span class="customer-name ellipsis-text clickable" (click)="openCustomerModal()" title="{{arrivalItemVM.customerName}}">{{arrivalItemVM.customerName}}</span>
			<i *ngIf="arrivalItemVM.arrivalItemDO.bookingNotes" title="{{ arrivalItemVM.arrivalItemDO.bookingNotes }}" (click)="openBookingNotesModal()" class="clickable booking-notes-icon pull-right fa fa-sticky-note-o" ></i>
		</div>
		<div class="body">
			<span class="f-12">{{ 'Agency' | translate }}:</span>
			<span *ngIf="arrivalItemVM.corporateCustomerName && arrivalItemVM.corporateCustomerName.length > 0" class="corporate-customer-name ellipsis-text clickable" (click)="openCorporateCustomerModal()" title="{{arrivalItemVM.corporateCustomerName}}">{{arrivalItemVM.corporateCustomerName}}</span>
			<span *ngIf="!arrivalItemVM.corporateCustomerName || arrivalItemVM.corporateCustomerName.length <= 0" class="corporate-customer-name">{{ 'N/A' | translate }}</span>
			<div class="room-type ellipsis-text " title="{{arrivalItemVM.roomCategoryLabel}}">{{arrivalItemVM.roomCategoryLabel}}</div>
			<div class="booking-quick-details">
				<div class="period clickable" (click)="openBookingModal()" >
					<div class="start-date">{{arrivalItemVM.arrivalLabel}}</div>
					<i class="fa fa-arrow-right"></i>
					<div class="end-date">{{arrivalItemVM.departureLabel}}</div>
				</div>
				<div class="other-details gray-color f-12">
					<div>
						<span class="unitpal-font f-12">(</span> {{arrivalItemVM.numberOfPeople}}
						<span class="unitpal-font f-12">Y</span> {{arrivalItemVM.numberOfNights}}
					</div>
				</div>
			</div>
		</div>
		<div class="footer flex-jc-end">
			<button class="btn btn-sm btn-danger" (click)="openCheckInModal()" >
				<span class="uppercase"> {{ 'Check In' | translate }} </span> <span class="unitpal-font">/</span>
			</button>
		</div>
	</div>
</div>

<div *ngIf="arrivalItemVM.arrivalItemDO.itemStatus == enums.ArrivalItemStatus.NoPaymentGuarantee">
	<div class="left yellow">
	</div>
	<div class="right">
		<div class="header" >
			<span class="customer-name ellipsis-text clickable" (click)="openCustomerModal()" title="{{arrivalItemVM.customerName}}">{{arrivalItemVM.customerName}}</span>
			<i *ngIf="arrivalItemVM.arrivalItemDO.bookingNotes" title="{{ arrivalItemVM.arrivalItemDO.bookingNotes }}" (click)="openBookingNotesModal()" class="clickable booking-notes-icon pull-right fa fa-sticky-note-o" ></i>
		</div>
		<div class="body">
			<span class="f-12">{{ 'Agency' | translate }}:</span>
			<span *ngIf="arrivalItemVM.corporateCustomerName && arrivalItemVM.corporateCustomerName.length > 0" class="corporate-customer-name ellipsis-text clickable" (click)="openCorporateCustomerModal()" title="{{arrivalItemVM.corporateCustomerName}}">{{arrivalItemVM.corporateCustomerName}}</span>
			<span *ngIf="!arrivalItemVM.corporateCustomerName || arrivalItemVM.corporateCustomerName.length <= 0" class="corporate-customer-name">{{ 'N/A' | translate }}</span>
			<div class="room-type ellipsis-text " title="{{arrivalItemVM.roomCategoryLabel}}">{{arrivalItemVM.roomCategoryLabel}}</div>
			<div class="booking-quick-details">
				<div class="period clickable" (click)="openBookingModal()" >
					<div class="start-date">{{arrivalItemVM.arrivalLabel}}</div>
					<i class="fa fa-arrow-right"></i>
					<div class="end-date">{{arrivalItemVM.departureLabel}}</div>
				</div>
				<div class="other-details gray-color f-12">
					<div>
						<span class="unitpal-font f-12">(</span> {{arrivalItemVM.numberOfPeople}}
						<span class="unitpal-font f-12">Y</span> {{arrivalItemVM.numberOfNights}}
					</div>
				</div>
			</div>
		</div>
		<div class="footer flex-jc-left">
			<div class="flex-row flex-center-v yellow-color">
				<span class="unitpal-font f-14 p-r-6">+</span>
				<span class="f-11">{{ 'No Payment Guarantee' | translate }}</span>
			</div>
		</div>
	</div>
</div>

<div *ngIf="arrivalItemVM.arrivalItemDO.itemStatus == enums.ArrivalItemStatus.NoShow">
	<div class="left yellow">
	</div>
	<div class="right">
		<div class="header" >
			<span class="customer-name ellipsis-text clickable" (click)="openCustomerModal()" title="{{arrivalItemVM.customerName}}">{{arrivalItemVM.customerName}}</span>
			<i *ngIf="arrivalItemVM.arrivalItemDO.bookingNotes" title="{{ arrivalItemVM.arrivalItemDO.bookingNotes }}" (click)="openBookingNotesModal()" class="clickable booking-notes-icon pull-right fa fa-sticky-note-o" ></i>
		</div>
		<div class="body">
			<span class="f-12">{{ 'Agency' | translate }}:</span>
			<span *ngIf="arrivalItemVM.corporateCustomerName && arrivalItemVM.corporateCustomerName.length > 0" class="corporate-customer-name ellipsis-text clickable" (click)="openCorporateCustomerModal()" title="{{arrivalItemVM.corporateCustomerName}}">{{arrivalItemVM.corporateCustomerName}}</span>
			<span *ngIf="!arrivalItemVM.corporateCustomerName || arrivalItemVM.corporateCustomerName.length <= 0" class="corporate-customer-name">{{ 'N/A' | translate }}</span>
			<div class="room-type ellipsis-text" title="{{arrivalItemVM.roomCategoryLabel}}">{{arrivalItemVM.roomCategoryLabel}}</div>
			<div class="booking-quick-details">
				<div class="period clickable" (click)="openBookingModal()" >
					<div class="start-date">{{arrivalItemVM.arrivalLabel}}</div>
					<i class="fa fa-arrow-right"></i>
					<div class="end-date">{{arrivalItemVM.departureLabel}}</div>
				</div>
				<div class="other-details gray-color f-12">
					<div>
						<span class="unitpal-font f-12">(</span> {{arrivalItemVM.numberOfPeople}}
						<span class="unitpal-font f-12">Y</span> {{arrivalItemVM.numberOfNights}}
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="flex-row flex-center-v yellow-color">
				<span class="unitpal-font f-14 p-r-6">+</span>
				<span class="f-11">{{ 'No Show' | translate }}</span>
			</div>
		</div>
	</div>
</div>