<div class="row full-height">
	<div class="col-xs-7 full-height right-margin booking-cart-full">
		<lazy-loading-table #bookingCartReadOnly>
		</lazy-loading-table>
	</div>
	<div class="col-xs-5 full-height">
		<div class="row full-height" customScroll>
            <div class="col-sm-12 col-xs-12 booking-details-header">
                <span class="first-line"><i class="fa fa-envelope"></i> {{ 'Recipients' | translate }}</span>
            </div>
			<email-selector [customerList]="customerList" [disabled]="bookingConfirmationsBlocked" (onEmailListChanged)="emailRecipientList=$event"></email-selector>
		</div>
	</div>
</div>