<div class="col-xs-12 form-group">
	<label>{{ 'Price per person' | translate }} </label>
	<div class="input-group">
		<div class="btn-group" data-toggle="buttons">
			<button class="btn btn-default" (click)="isPricePerNumberOfPersons=true" [ngClass]="{'active': isPricePerNumberOfPersons}"
			[disabled]="readonly">
				{{ 'Yes' | translate }}
			</button>
			<button class="btn btn-default" (click)="isPricePerNumberOfPersons=false" [ngClass]="{'active': !isPricePerNumberOfPersons}"
			[disabled]="readonly">
				{{ 'No' | translate }}
			</button>
		</div>
	</div>
	<small class="text-muted" *ngIf="isPricePerNumberOfPersons">
		<i class="fa fa-info-circle"></i> {{ 'Total price will be the sum of each person occupying the room, added together.' | translate }} 
	</small>
	<small class="text-muted" *ngIf="!isPricePerNumberOfPersons">
		<i class="fa fa-info-circle"></i> {{ 'One price per Room Category, regardless of the amount of occupants' | translate }} 
	</small>
</div>
<div class="col-xs-12">
	<loading-component [isLoading]="isLoading"></loading-component>
	
	<dynamic-price-container
		[(dynamicPriceVMContainer)]="dynamicPriceVMContainer">
	</dynamic-price-container>
</div>