<div class="col-xs-12 form-group">
	<label>{{ 'Price per person' | translate }} </label>
	<div class="input-group">
		<div class="btn-group" data-toggle="buttons">
			<button class="btn btn-default" (click)="isPricePerNumberOfPersons=true" [ngClass]="{'active': isPricePerNumberOfPersons}"
			[disabled]="_readonly">
				{{ 'Yes' | translate }}
			</button>
			<button class="btn btn-default" (click)="isPricePerNumberOfPersons=false" [ngClass]="{'active': !isPricePerNumberOfPersons}"
			[disabled]="_readonly">
				{{ 'No' | translate }}
			</button>
		</div>
	</div>
	<small class="text-muted" *ngIf="isPricePerNumberOfPersons">
		<i class="fa fa-info-circle"></i> {{ 'Total price will be the sum of each person occupying the room, added together.' | translate }} 
	</small>
	<small class="text-muted" *ngIf="!isPricePerNumberOfPersons">
		<i class="fa fa-info-circle"></i> {{ 'One price per Room Category, regardless of the amount of occupants' | translate }} 
	</small>
</div>
<div class="col-xs-12">
	<loading-component [isLoading]="isLoading"></loading-component>
	
	<div class="row" *ngIf="!isLoading">
		<div class="col-xs-12 form-group">
			<div class="row">
				<div class="col-xs-6">
					<label>{{ 'Price configuration in %ccySymbol%' | translate:{ccySymbol: ccy.nativeSymbol} }}</label>
				</div>
				<div class="col-xs-6">
					<a class="btn btn-xs" *ngIf="editDynamicPrices" (click)="openNewDynamicPriceModal()">
						<i class="fa unitpal-font">'</i> {{ 'Add' | translate }} {{ 'Dynamic Daily Rate' | translate }}
					</a>
				</div>
			</div>
			<div class="basic-info-settings-tabbar">
				<ul class="nav nav-tabs">
					<li *ngFor="let dynamicPriceVM of dynamicPriceVMList; let i = index" [ngClass]="{'active': dynamicPriceVM.selected}">
						<a [ngClass]="{'active': dynamicPriceVM.selected}" (click)="selectDynamicPrice(i)">
							{{ dynamicPriceVM.name }} 
							<a *ngIf="dynamicPriceVM.selected && editDynamicPrices" (click)="openEditDynamicPriceModal(dynamicPriceVM, i)">
								<i class="fa unitpal-font">]</i>
							</a>
						</a>
					</li>
				</ul>
			</div>
			<div class="basic-info-settings-edit-container">
				<div class="row row-eq-height">
					<div class="col-md-6 col-sm-12 coal-xs-12 form-group" *ngFor="let priceVM of selectedDynamicPriceVM.priceVMList">
						<div class="price-product-box">
							<label>{{ priceVM.roomCategoryStats.roomCategory.displayName }}
								<small> 
									{{ getNoRoomsLabel(priceVM.roomCategoryStats.noOfRooms) }} x
									<config-capacity [configCapacity]="priceVM.roomCategoryStats.capacity.totalCapacity"></config-capacity>
								</small>
							</label>
							<a class="btn" 
								*ngIf="priceVM.previousRoomCategoryId && selectedDynamicPriceVM.editOnPricesAndExceptionsIsAllowed(_readonly)" 
								(click)="selectedDynamicPriceVM.copyPrices(priceVM.previousRoomCategoryId, priceVM.roomCategoryStats.roomCategory.id)">
								<i class="fa unitpal-font">[</i> <small>{{ 'Copy Prices from Previous Room Category' | translate }}</small>
							</a>
							<price-edit 
								[displayError]="displayError()"
								[readonly]="!selectedDynamicPriceVM.editOnPricesAndExceptionsIsAllowed(_readonly)"
								[priceType]="priceType"
								[roomCategoryStats]="priceVM.roomCategoryStats"
								[(price)]="priceVM.price">
							</price-edit>
							<label>{{ 'Exceptions' | translate }}</label>
							<table class="table table-striped projects">
								<tbody>
									<tr *ngFor="let exception of priceVM.exceptionList">
										<td title="{{ 'Exception will apply on %dayFromWeek%' | translate:{dayFromWeek: getWeekDayName(exception.dayFromWeek)} }}">
											{{ getWeekDayName(exception.dayFromWeek) | translate }}
										</td>
										<td title="{{ 'Prices for adults' | translate }}">
											{{ ccy.nativeSymbol }}  {{ exception.price.getPriceBriefLineString() }}
										</td>
										<td>
											<a class="btn btn-xs" *ngIf="selectedDynamicPriceVM.editOnPricesAndExceptionsIsAllowed(_readonly)" (click)="removeException(priceVM, exception)">
												<i class="fa unitpal-font">\</i> {{ 'Remove' | translate }}
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<span *ngIf="!selectedDynamicPriceVM.editOnPricesAndExceptionsIsAllowed(_readonly) && priceVM.hasExceptions()">
												<a class="btn btn-xs" (click)="openPriceExceptionModal(selectedDynamicPriceVM, priceVM)">
													<span><i class="fa fa-eye"></i> {{ 'View' | translate }}</span>
												</a>	
											</span>
											<p *ngIf="!selectedDynamicPriceVM.editOnPricesAndExceptionsIsAllowed(_readonly) && !priceVM.hasExceptions()">{{'No exceptions' | translate}}</p>
											<span *ngIf="selectedDynamicPriceVM.editOnPricesAndExceptionsIsAllowed(_readonly)">
												<a class="btn btn-xs" (click)="openPriceExceptionModal(selectedDynamicPriceVM, priceVM)">
													<span *ngIf="!priceVM.hasExceptions()"><i class="fa unitpal-font">'</i> {{ 'Add' | translate }}</span>
													<span *ngIf="priceVM.hasExceptions()"><i class="fa unitpal-font">]</i> {{ 'Add / Edit' | translate }}</span>
												</a>
											</span>
										</td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
								<small class="text-muted"><i class="fa fa-info-circle"></i> {{ 'Custom prices for different days of the week' | translate }} </small>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>