<div class="edit-form-container" customScroll>
	<div class="edit-form">
		<span printableSection>
			<div class="row">
				<allotment-edit-top-section [didSubmit]="didSubmit"></allotment-edit-top-section>
			</div>
			<div class="row">
				<allotment-open-interval-section [didSubmit]="didSubmit"></allotment-open-interval-section>	
			</div>
			<div class="row">
				<allotment-availability-section [didSubmit]="didSubmit"></allotment-availability-section>
			</div>
			<div class="row">
				<allotment-edit-constraints-section [didSubmit]="didSubmit"></allotment-edit-constraints-section>
			</div>
			<div class="row">
				<allotment-notes-section [didSubmit]="didSubmit"></allotment-notes-section>
			</div>
		</span>
			
		
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<button class="btn btn-default pull-left" 
					*ngIf="!allotmentVM.isNewAllotment()" 
					(click)="printPage()">
					<i class="fa fa-print"></i>
				</button>
			</div>
			<div class="col-xs-12 col-md-offset-3 col-md-3">
				<button type="button" class="btn btn-primary btn-block" (click)="saveAllotment()" *ngIf="canSaveAllotment()">
					<i *ngIf="isSavingAllotment" class="fa fa-spinner fa-pulse"></i> {{ 'Save Changes' | translate }}
				</button>
			</div>
			<div class="col-xs-12 col-md-3">
				<button type="button" class="btn btn-danger btn-block" (click)="showViewScreen()">{{ 'Cancel' | translate }}</button>
			</div>
		</div>
	</div>
</div>