<yield-actions-panel [isYielding]="isYielding" (onApplyAction)="applyAction($event)"></yield-actions-panel>
<div class="price-products-table p-12" *ngIf="priceProductResults">
	<div class="price-products-row flex-row">
		<div class="price-products-col flex-jc-start wide p-l-12">
			<span class="p-l-6"></span>
			<input type="checkbox"
			[(ngModel)]="selectAllItemsFlag"
			(change)="setItemSelectionStateToAll(!selectAllItemsFlag)"
			>
			<span class="dark-gray-color oneline-text f-14 p-l-6">Price Products</span>
		</div>
		<div class="price-products-col" *ngFor="let date of priceProductResults.dateList">
			<span class="dark-gray-color oneline-text f-14" title="{{getDateLabel(date)}}">{{getDateLabel(date)}}</span>
		</div>
	</div>
	<div class="price-products-row flex-row" [ngClass]="getPriceProductRowClasses(priceProduct)" *ngFor="let priceProduct of filteredPriceProduct">
		<div class="price-products-col flex-jc-start wide">
			<div class="selected-indicator" [ngClass]="getSelectedIndicatorClasses(priceProduct)"></div>
			<span class=" p-l-6">
				<input type="checkbox" [(ngModel)]="itemsSelectionState[priceProduct.id]">
				<span class="dark-gray-color f-14">{{priceProduct.name}}</span>
			</span>
		</div>
		<div class="price-products-col" *ngFor="let value of priceProduct.priceProductYieldItemDO.stateList; let currentIndex = index">
			<span class="w-100">
				<price-product-state [model]="getYieldStateModel(priceProductResults, priceProduct, currentIndex)" (stateChanged)="handleStateChange($event)"></price-product-state>
			</span>
		</div>
	</div>
</div>