<div class="modal-lg-header container">
	<div class="row full-height">
		<div class="col-xs-7 col-md-7 full-height">
			<h1 class="oneline-text full-height">
				<i class="fa fa-2x unitpal-font">'</i>
				{{ 'New Booking' | translate }} <small> {{ pathString }} </small>
			</h1>
		</div>
		<div class="col-xs-5 col-md-5 full-height">
			<div class="row full-height">
				<div class="col-xs-8">
					<p class="btn-square-container" [ngClass]="{small: !isLastStep(), large: isLastStep()}">
						<a class="btn btn-square btn-square-next-prev" [ngClass]="{disabled: !hasPreviousPage()}" (click)="movePrevious()">
							<i class="fa unitpal-font"><</i>
						</a>
						<a class="btn btn-square btn-square-next-prev" *ngIf="!isLastStep()" [ngClass]="{disabled: !canMoveNext()}" (click)="moveNext()" >
							<i class="fa unitpal-font">></i>
						</a>
						<a class="btn btn-square btn-square-finalize" *ngIf="isLastStep()" [ngClass]="{disabled: !canMoveNext()}" (click)="addBookings()" >
							<i *ngIf="!isAddingBookings" class="fa fa-envelope"></i> 
							<i *ngIf="isAddingBookings" class="fa fa-spinner fa-pulse"></i>
							{{'Save Bookings' | translate}}
						</a>
					</p>
					<p class="btn-err-container" *ngIf="errorString">
						<i class="fa unitpal-font">+</i>
						<span>{{ errorString }}</span>
					</p>
				</div>
				<div class="col-xs-4 full-height">
					<a class="btn btn-square float-right" *ngIf="showCloseButton" (click)="triggerOnCloseButtonPressed(false)">
						<i class="fa unitpal-font">C</i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-lg-body container">
	<new-booking-search class="full-height" [newBookingInput]="newBookingInput" [hidden]="!isBookingSearch()"> </new-booking-search>
	<new-booking-fill-details class="full-height" [hidden]="!isFillDetails()"> </new-booking-fill-details>
	<new-booking-email-config class="full-height" [hidden]="!isEmailConfig()"></new-booking-email-config>
	
	<new-booking-customer-register class="full-height" *ngIf="isCustomerRegister()"> </new-booking-customer-register>
</div>