<div class="overview-left" [ngClass]="{'col-xs-9 col-md-9': !isEditing, 'col-xs-3 col-md-3': isEditing}">
	<div class="lazy-loading-table-filter">
		<ul class="nav nav-tabs">
			<li *ngFor="let filter of filterList" [ngClass]="{active : isFilterSelected(filter)}">
				<a (click)="selectFilter(filter)">{{filter.customerTypeName | translate}}</a>
			</li>
		</ul>
	</div>
	<lazy-loading-table
		[isCollapsed]="isEditing"
		(onAdd)="addCustomer()"
		(onSelect)="selectCustomer($event)"
		(onEdit)="editCustomer($event)"
		>
	</lazy-loading-table>
</div>
<div [ngClass]="{'col-xs-3 overview-right': !isEditing, 'col-xs-9 edit-container': isEditing}">
	<customer-register-overview 
		*ngIf="selectedCustomerVM && !isEditing" 
		[showLinkToOperationalModal]="showLinkToOperationalModal"
		[customerVM]="selectedCustomerVM"
		(onEdit)="editCustomer($event)">
		>
	</customer-register-overview>
	<customer-register-edit-container
		*ngIf="selectedCustomerVM && isEditing" 
		[customerVM]="selectedCustomerVM"
		(onExit)="showViewScreen($event)">
		>
	</customer-register-edit-container>
	<div #overviewBottom>
	</div>
	
	<div class="wizard-pagination" align="center" *ngIf="allowCustomerSelection && !isEditing">
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1">
				<button type="button" class="btn btn-primary btn-block" [disabled]="!selectedCustomerVM" (click)="triggerCustomerSelected()">
					{{ 'Select' | translate }}
				</button>
			</div>
			<div class="col-xs-5">
				<button type="button" class="btn btn-danger btn-block" (click)="triggerPageExit()">
					{{ 'Cancel' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>