<div class="overview-left" [ngClass]="{'col-xs-9 col-md-9': !isEditing, 'col-xs-3 col-md-3': isEditing}">
	<div class="lazy-loading-table-filter">
		<ul class="nav nav-tabs">
			<li *ngFor="let filter of filterList" [ngClass]="{active : isFilterSelected(filter)}">
				<a (click)="selectFilter(filter)">{{filter.customerTypeName | translate}}</a>
			</li>
		</ul>
	</div>
	<lazy-loading-table
		[isCollapsed]="isEditing"
		(onAdd)="addCustomer()"
		(onSelect)="selectCustomer($event)"
		(onEdit)="editCustomer($event)"
		>
	</lazy-loading-table>
</div>
<div [ngClass]="{'col-xs-3 overview-right': !isEditing, 'col-xs-9 edit-container': isEditing}">
	<customer-register-overview 
		*ngIf="selectedCustomerVM && !isEditing" 
		[customerVM]="selectedCustomerVM"
		(onEdit)="editCustomer($event)">
		>
	</customer-register-overview>
	<customer-register-edit-container
		*ngIf="selectedCustomerVM && isEditing" 
		[customerVM]="selectedCustomerVM"
		(onExit)="showViewScreen()">
		>
	</customer-register-edit-container>
	<div #overviewBottom>
	</div>
</div>