<div class="header">
	<div class="pane-title">
		<span class="unitpal-font f-12 p-r-12 f-32 clickable" (click)="previousDay()">&lt;</span>
			<span class="unitpal-font orange-color p-r-12 f-32">/</span>
			<div>
				<span class="f-12">Arrivals</span>
				<span class="current-date f-16"><b>13.01.2016</b></span>			
			</div>
		<span class="unitpal-font f-12 p-r-12 f-32 clickable" (click)="nextDay()">&gt;</span>
	</div>
	<div class="pane-search-bar">
		<input class="remove-auto-border" type="text" placeholder="Search here">
		<i class="fa fa-search gray-color p-l-6"></i>
	</div>
</div>
<div class="body">
	<arrival-item
		*ngFor="let arrivalItemVM of arrivalItemsVMList"
		[ngClass]="{'selected': isArrivalItemSelected(arrivalItemVM)}" 
		[arrivalItemVM] = "arrivalItemVM" 
		(click) = "selectArrivalItem(arrivalItemVM)"
		(startedDragging)="startedDragging($event)"
		(stoppedDragging)="stoppedDragging($event)"
		>
	</arrival-item>
</div>
<div class="footer">
	<div class="arrivals-side-pane-bottom-box">
		<th-button [upFont]="'\''" [text]="'Booking'" (onButtonClick)="openNewBookingModal()"></th-button>
	</div>
</div>