<div class="header">
	<div class="pane-title p-t-6">
		<div class="unitpal-font f-12 f-32 clickable" (click)="previousDay()">&lt;</div>
		<div class="flex-row">
			<span class="unitpal-font orange-color p-r-12 f-32">/</span>
			<div class="">
				<div class="f-12">{{ 'Arrivals' | translate}}</div>
				<div *ngIf="selectedDate" class="clickable operations-datepicker">
					<th-date-picker
						[initialThDate]="selectedDate"
						[selectedThDate]="selectedDate"
						[showLabel]="false"
						[showIcon]="false"
						(didSelectThDate)="didSelectArrivalDate($event)"
					>
					</th-date-picker>
				</div>
			</div>
		</div>
		<div class="unitpal-font f-12 p-r-12 f-32 clickable" (click)="nextDay()">&gt;</div>
	</div>
	<div class="pane-search-bar">
		<input class="remove-auto-border" type="text" placeholder="Search here" [ngModel]="searchText" (ngModelChange)="searchTextChangeHandler($event)" name="arrivalsSearchText">
		<i class="fa fa-search gray-color p-l-6"></i>
	</div>
</div>
<div customScroll class="body">
	<arrival-item
		*ngFor="let arrivalItemVM of filteredArrivalsVMList"
		[ngClass]="{'selected': isArrivalItemSelected(arrivalItemVM)}" 
		[arrivalItemVM] = "arrivalItemVM" 
		(click) = "selectArrivalItem(arrivalItemVM)"
		(startedDragging)="startedDragging($event)"
		(stoppedDragging)="stoppedDragging($event)"
		>
	</arrival-item>
</div>
<div class="footer">
	<div class="arrivals-side-pane-bottom-box">
		<th-button [upFont]="'\''" [text]="'Booking'" (onButtonClick)="openNewBookingModal()"></th-button>
	</div>
</div>


