<div class="row" *ngIf="!isLoading">
		<div class="col-xs-12 form-group">
			<div class="row">
				<div class="col-xs-6">
					<label>{{ 'Price configuration in %ccySymbol%' | translate:{ccySymbol: ccy.nativeSymbol} }}</label>
				</div>
				<div class="col-xs-6">
					<a class="btn btn-xs"><i class="fa unitpal-font">'</i> Add Dynamic Daily Rate</a>
				</div>
			</div>
			<div class="basic-info-settings-tabbar">
				<ul class="nav nav-tabs">
					<li *ngFor="let dynamicPriceVM of dynamicPriceVMList; let i = index" [ngClass]="{'active': dynamicPriceVM.selected}">
						<a (click)="changeDynamicPrice(i)">
							{{ dynamicPriceVM.name }}
						</a>
					</li>
				</ul>
			</div>
			<div class="basic-info-settings-edit-container" customScroll>
				<div class="row row-eq-height">
					<div class="col-md-6 col-sm-12 coal-xs-12 form-group" *ngFor="let priceVM of selectedDynamicPriceVM.priceVMList">
						<div class="price-product-box">
							<label>{{ priceVM.roomCategoryStats.roomCategory.displayName }}
								<small> 
									{{ getNoRoomsLabel(priceVM.roomCategoryStats.noOfRooms) }} x
									<config-capacity [configCapacity]="priceVM.roomCategoryStats.capacity.totalCapacity"></config-capacity>
								</small>
							</label>
							<a class="btn" 
								*ngIf="priceVM.previousRoomCategoryId && !readonly" 
								(click)="selectedDynamicPriceVM.copyPrices(priceVM.previousRoomCategoryId, priceVM.roomCategoryStats.roomCategory.id)">
								<i class="fa unitpal-font">[</i> <small>{{ 'Copy Prices from Previous Room Category' | translate }}</small>
							</a>
							<price-edit 
								[displayError]="displayError()"
								[readonly]="readonly"
								[priceType]="priceType"
								[roomCategoryStats]="priceVM.roomCategoryStats"
								[(price)]="priceVM.price">
							</price-edit>
							<label>{{ 'Exceptions' | translate }}</label>
							<table class="table table-striped projects">
								<tbody>
									<tr *ngFor="let exception of priceVM.exceptionList">
										<td title="{{ 'Exception will apply on %dayFromWeek%' | translate:{dayFromWeek: getWeekDayName(exception.dayFromWeek)} }}">
											{{ getWeekDayName(exception.dayFromWeek) | translate }}
										</td>
										<td title="{{ 'Prices for adults' | translate }}">
											{{ ccy.nativeSymbol }}  {{ exception.price.getPriceBriefLineString() }}
										</td>
										<td>
											<a class="btn btn-xs" *ngIf="!readonly" (click)="removeException(priceVM, exception)">
												<i class="fa unitpal-font">\</i> {{ 'Remove' | translate }}
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<span *ngIf="readonly && priceVM.hasExceptions()">
												<a class="btn btn-xs" (click)="openPriceExceptionModal(priceVM)">
													<span><i class="fa fa-eye"></i> {{ 'View' | translate }}</span>
												</a>	
											</span>
											<p *ngIf="readonly && !priceVM.hasExceptions()">{{'No exceptions' | translate}}</p>
											<span *ngIf="!readonly">
												<a class="btn btn-xs" (click)="openPriceExceptionModal(priceVM)">
													<span *ngIf="!priceVM.hasExceptions()"><i class="fa unitpal-font">'</i> {{ 'Add' | translate }}</span>
													<span *ngIf="priceVM.hasExceptions()"><i class="fa unitpal-font">]</i> {{ 'Add / Edit' | translate }}</span>
												</a>
											</span>
										</td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
								<small class="text-muted"><i class="fa fa-info-circle"></i> {{ 'Custom prices for different days of the week' | translate }} </small>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>