<loading-component [isLoading]="isLoading"></loading-component>

<div class="row full-height" *ngIf="didLoadPageData">
	<div class="col-xs-9 full-height right-margin padding-top-10px" customScroll>
		<div class="row">
			<room-preview [roomPreviewInput]="roomPreviewInput"></room-preview>
		</div>
		<div class="row">
			<room-maintenance-status-editor [roomVM]="roomVM" (onMaintenanceStatusChanged)="triggerOnRoomChanged($event)"></room-maintenance-status-editor>
		</div>
		<hr/>
		<div class="row padding-bottom-10px">
			<div class="col-xs-12 col-sm-1 padding-top-10px">
				{{'History' | translate}}
			</div>
			<div class="col-xs-12 col-sm-11">
				<document-history-viewer [documentHistory]="roomVM.room.maintenanceHistory"></document-history-viewer>
			</div>
		</div>		
	</div>
	<div class="col-xs-3 full-height">
		<div class="row full-height">
			
		</div>
	</div>
</div>