<loading-component [isLoading]="isLoading"></loading-component>
<form class="form-horizontal form-label-left" *ngIf="!isLoading">
	<div class="row">
		<div class="col-sm-12 col-md-6 form-group">
			<input type="text" placeholder="Name of the Hotel" class="form-control" />
			<label class="form-label"><small><i class="fa fa-info-circle"></i> Enter the public name of your hotel.</small></label>
			<div class="row">
				<div class="col-xs-12 col-md-6 form-group">
					<select class="select2_single form-control" tabindex="-1">
						<option value="RO">Romania</option>
						<option value="DK">Denmark</option>
					</select>
				</div>

				<div class="col-xs-12 col-md-6 form-group">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">RO</span>
						<input type="text" class="form-control" placeholder="VAT Code" aria-describedby="basic-addon1">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 form-group">
					<input type="text" placeholder="Address" class="form-control">
				</div>
				<div class="col-xs-6 col-md-3 form-group">
					<input type="text" placeholder="City" class="form-control">
				</div>
				<div class="col-xs-6 col-md-3 form-group">
					<input type="text" placeholder="Postal Code" class="form-control">
				</div>
			</div>

			<hr class="separator">

			<div class="row">
				<div class="col-xs-12 col-md-6 form-group">
					<input type="text" placeholder="Phone" class="form-control form-group">
				</div>
				<div class="col-xs-12 col-md-6 form-group">
					<input type="text" placeholder="Fax" class="form-control form-group">
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12 col-md-6 form-group">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon3">http://</span>
						<input type="text" class="form-control" id="website-url" placeholder="Your Website" aria-describedby="basic-addon3">
					</div>
				</div>
				<div class="col-xs-12 col-md-6 form-group">
					<input type="text" disabled placeholder="Email" class="form-control" value="test@test.com">
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 form-group">
			<image-upload (onImageUpload)="didUploadLogo($event)" ></image-upload>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-facebook"></i> facebook.com/</span>
				<input type="text" class="form-control" id="facebook-url" aria-describedby="basic-addon3">
			</div>
		</div>
		<div class="col-sm-3 form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-twitter"></i> twitter.com/</span>
				<input type="text" class="form-control" id="twitter-url" aria-describedby="basic-addon3">
			</div>
		</div>
		<div class="col-sm-3 form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-linkedin"></i> linkedin.com/</span>
				<input type="text" class="form-control" id="linkedin-url" aria-describedby="basic-addon3">
			</div>
		</div>
		<div class="col-xs-3 form-group">
		</div>
	</div>
</form>