<div class="col-xs-12 col-sm-1 padding-top-10px">
    {{'Status' | translate}}
</div>

<div class="col-xs-12 col-sm-4 padding-top-5px">
    <div class="form-group" *ngIf="!readonly">
        <select class="form-control" [ngModel]="currentMaintenanceMeta" (ngModelChange)="currentMaintenanceMeta=$event" [disabled]="readonly">
			<option *ngFor="let roomMaintenanceMeta of roomMaintenanceMetaList" [ngValue]="roomMaintenanceMeta">{{roomMaintenanceMeta.maintenanceMessage}}</option>
		</select>
    </div>
    <div class="form-group" *ngIf="readonly">
        <div class="form-control operational-input-group">
            <span class="unitpal-font unitpal-large">{{currentMaintenanceMeta.fontName}}</span>
            <span class="name field-value">{{currentMaintenanceMeta.maintenanceMessage | translate}}</span>
            <span class="details text-field"><p>{{ lastChangeTimestamp | thtimestampdistancefromnow }}</p></span>
		</div>
    </div>
</div>

<div class="col-xs-12 col-sm-4 padding-top-5px">
    <div class="input-group">
		<input type="text" class="form-control input-group-lg" [(ngModel)]="currentMaintenanceText" [readonly]="readonly" placeholder="{{'No Details' | translate}}">
	</div>
</div>
<div class="col-xs-12 col-sm-3 padding-top-10px">
    <edit-save-button-group
        (onEditStart)="startEdit()"
        (onEditEnd)="endEdit()"
        (onSavePressed)="saveMaintenanceStatus()"
        [isSaving]="isSaving"
        [isEditing]="!readonly"
        >
    </edit-save-button-group>
</div>