<div class="modal-header text-center">
	<button type="button" class="close" (click)="closeDialog()">&times;</button>
	<h4 class="modal-title">{{ 'Dynamic Daily Rate' | translate }}</h4>
</div>
<div class="modal-body">
	
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" 
		*ngIf="!readonly"
		(click)="saveDynamicDailyRate()" >
		{{ buttonLabel | translate }}
	</button>
	<button type="button" class="btn btn-danger" 
		(click)="closeDialog()">
		{{ 'Close' | translate }}
	</button>
</div>